# Ignore ALL these filetypes
*.pyc
*.sqlite

# Ignore these specific files
Things To Do.txt
secret.py

#Ignore these specific directories
static/node_modules/
Exported_Transactions/
.venv/

#Ignore any files in these directories except the .gitkeep files (which are used to keep the directories in version control)
uploads/*
!uploads/.gitkeep

logs/*
!logs/.gitkeep

test/unit/logs/*
!test/unit/logs/.gitkeep
