{% extends "layout.html" %}
{% block envelope_rows %}
    {% for envelope in envelopes_data %}
        <a class="waves-effect collection-item" href="/envelope/{{envelope.id}}">
            <li class="row plans valign-wrapper envelope-row">
              <i class="col s1 material-icons envelope-icon">mail_outline</i>
              <div class="col s5 envelope-name left-align"><h5 class="truncate">{{envelope.name}}</h5></div>
              <div class="col s3 envelope-budget">{{envelope.budget}}</div>
              <div class="col s3 envelope-balance"><span class="{{'negative' if envelope.balance[1] == '-'}} balance">{{envelope.balance}}</span></div>
            </li>
          </a>
    {% endfor %}
{% endblock envelope_rows %}

{% block envelope_option %}
    {% for envelope in envelopes_data %}
        <option value="{{ envelope.id }}">{{envelope.name}}</option>
    {% endfor %}
{% endblock envelope_option %}

{% block account_rows %}
    {% for account in accounts_data %}
        <a class="waves-effect collection-item" href="/account/{{account.id}}">
            <li class="row plans valign-wrapper envelope-row">
              <i class="col s1 material-icons account-icon">account_balance</i>
              <div class="col s8 account-name left-align"><h5 class="truncate">{{account.name}}</h5></div>
              <div class="col s3 account-balance"><span class="{{'negative' if account.balance[1] == '-'}} balance">{{account.balance}}</span></div>
            </li>
          </a>
    {% endfor %}
{% endblock account_rows %}

{% block account_option %}
    {% for account in accounts_data %}
        <option value="{{ account.id }}">{{account.name}}</option>
    {% endfor %}
{% endblock account_option %}

{% block transaction_rows %}
    {% for transaction in transactions_data %}
      <a class="waves-effect collection-item" href="#editor-modal">
        <li class="row plans valign-wrapper transaction-row">
          <div class="col s2 transaction-date">{{transaction.date}}</div>
          <div class="col s1 transaction-type"><i class="material-icons" title="{{t_type_dict[transaction.type]}}">{{transaction.type}}</i></div>
          <div class="col s6 transaction-name left-align">
            <h5 class="truncate no-margin">{{transaction.name}}</h5>
            <i class="no-margin tiny">{{transaction.envelope_id}}</i> / <i class="tiny">{{transaction.account_id}}</i>
          </div>
          <div class="col s2 transaction-amount"><span class="{{'negative' if transaction.amt[1] == '-'}}  balance">{{transaction.amt}}</span></div>
          <div class="col s1 transaction-status"><i class="small material-icons">{{transaction.status}}</i></div>
        </li>
      </a>
    {% endfor %}
{% endblock transaction_rows %}
<!-- Neutal tag if I decide to add it back in, would also have to enable in css -->
<!-- {{'neutral' if transaction.type in [1,2] and current_view == 'All transactions'}} -->