<div id="envelope-modal" class="modal">
  <div class="modal-content">
    <div class="row">

      <h3>Edit Envelopes</h3>

      <form id="envelope-editor-form" action="{{ url_for('edit_envelopes_page') }}" method="post">
        <ul id="envelope-editor-bin" class="collection">
          <li class="row collection-item left-align grey lighten-3">
            <div class="col s4 header offset-s1 left-align">Name</div>
            <div class="col s2 header envelope-budget">Budgeted</div>
            <div class="col s3 header envelope-balance">Balance</div>
            <div class="col s2 header delete-envelope">Delete</div>
          </li>
          {% for id, envelope in envelopes_data.items() %}
            {% if envelope.deleted == false and envelope.id != 1 %}
              <li class="row envelope-row collection-item">
                <div class="col s1 valign-wrapper envelope-icon editor-col"><i class="material-icons">mail_outline</i></div>
                <div class="col s4 envelope-name left-align editor-col input-field">
                  <input class="validate" type="text" value="{{envelope.name}}" name="edit-envelope-name" required>
                  <span class="helper-text" data-error="Envelope name required"></span>
                </div>
                <div class="col s2 envelope-budget editor-col input-field">
                  <input class="validate" type="text" value="{% if envelope.budget[0] == '$' %}{{ envelope.budget[1:] }}{% else %}-{{ envelope.budget[2:] }}{% endif %}" name="edit-envelope-budget" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                  <input name="envelope-id" type="hidden" value="{{envelope.id}}" required>
                  <span class="helper-text" data-error="Please enter a numeric value"></span>
                </div>
                <div class="col s3 valign-wrapper envelope-balance editor-col">
                  <span class="{{'negative' if envelope.balance[0] == '-'}} balance">{{envelope.balance}}</span>
                </div>
                <div class="col s2 valign-wrapper delete-envelope editor-col">
                  <a href="#!" class="delete-envelope-button"><i class="material-icons red-text">delete_forever</i></a>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="row">
          <div class="col s3 left-align">
            <a id="new-envelope-row" href="#!" class="tiny">+ New envelope</a>
          </div>
          <div class="col s3 push-s6">
            <button class="btn waves-effect waves-light yellow darken-4" type="submit" name="action" href="#!">Update</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>