<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

  <!-- Side Nav -->
	<ul id="slide-out" class="side-nav">
		<li><div class="userView">
		  <div class="background">
			<img src="{{url_for('static', filename='img/user-background.jpg')}}">
		  </div>
		  <a href="#!user"><img class="circle" src="{{url_for('static', filename='img/default-user-image.png')}}"></a>
		  <a href="#!name"><span class="white-text name">Example Name</span></a>
		  <a href="#!email"><span class="white-text email">example-email@gmail.com</span></a>
		</div></li>
		<li><a href="#" class="waves-effect"><i class="material-icons">assignment_ind</i>Personalize</a></li>
		<li><a href="#" class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
		<li><a href="#" class="waves-effect"><i class="material-icons">live_help</i>Help & Feedback</a></li>
		<li><a href="#" class="waves-effect"><i class="material-icons">info</i>About Budgeteer</a></li>
	</ul>

	<!-- Main Nav -->
	<div class="navbar-fixed">
	  <nav class="yellow darken-4">
		<div class="nav-wrapper">
      <ul class="left">
			<li><a href="#" data-activates="slide-out" class="button-collapse"><i class="medium material-icons">menu</i></a></li>
		  </ul>
			<a id="logo-container" href="{{url_for('home')}}" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></a>
      <ul class="right">
        <li><a href="#"><i class="material-icons" id="new_plan">add</i></a></li>
      </ul>
		</div>
	  </nav>
	</div>

  <!-- Content -->

  <!--Transaction Button-->
  <a class="btn-floating btn-large waves-effect waves-light orange darken-3 modal-trigger floater" href="#modal1"><i class="material-icons">add</i></a>

  <!-- Transaction Creator -->

  {% include 'transaction_builder.html' %}

  <div class="row content">

    <!--Envelopes/Accounts sidebar-->
    <div class="col m12 l4 s12 left-content blue-grey">

      <div class="row" id="total">
        <h3 class="col s4 white-text bold">Total:</h3>
        <h3 class="col s8"><span class="{{'negative' if total_funds[1] == '-'}} balance">{{total_funds}}</span></h3>
      </div>

      <div class="row">
        <ul class="tabs blue-grey lighten-5">
          <li class="tab col s6"><a class="active" href="#envelopes">Envelopes</a></li>
          <li class="tab col s6"><a href="#accounts">Accounts</a></li>
        </ul>
      </div>

      <!--Envelopes-->
      <div id="envelopes" class="col s12">
        <a href="#" class="btn orange waves-effect" id="edit-envelopes">Edit Envelopes</a>
        <ul class="collection envelopes-bin">

          <li class="row plans valign-wrapper collection-item left-align grey lighten-3">
            <div class="col s5 offset-s1 left-align">Name</div>
            <div class="col s3 envelope-budget">Budgeted</div>
            <div class="col s3 envelope-balance">Balance</div>
          </li>

          {% block envelope_rows %}{% endblock %}

        </ul>
      </div>

      <!--Accounts-->
      <div id="accounts" class="col s12">
        <a href="#" class="btn orange waves-effect" id="edit-accounts">Edit Accounts</a>
        <ul class="collection envelopes-bin">
          <li class="row plans valign-wrapper collection-item left-align grey lighten-3">
            <div class="col s8 offset-s1 left-align">Name</div>
            <div class="col s3 account-balance">Balance</div>
          </li>
          {% block account_rows %}{% endblock %}
        </ul>
      </div>

    </div>

    <!--Transactions-->
    <div class="col s12 m12 l8 hide-on-small-only" id="transactions-column">
      <div class="transaction-header orange">
        <div class="row left-align valign-wrapper header white-text orange lighten-1"><h4 id="transaction-title">Transactions - {{current_view}}</h4></div>
        <div class="row orange">
          <div class="col s2">Date</div>
          <div class="col s1">Type</div>
          <div class="col s6">Name</div>
          <div class="col s2">Amount</div>
          <div class="col s1">Status</div>
        </div>
      </div>

      <ul class="collection" id="transactions-bin">
        {% block transaction_rows %}{% endblock %}
      </ul>

    </div>
  </div>

  {% include 'transaction_editor.html' %}



  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/init.js')}}"></script>
</body>
</html>