.fixed-action-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.flex {
  display: flex;
}

.envelope-row .input-field, .account-row .input-field {
  margin: 0;
}

#bin {
  position: sticky;
  height: calc(100% - 164px);
  top: 154px;
}

#total h4, #unallocated h4 {
  margin: .25em 0;
}

#envelopes-bin, #accounts-bin {
  height: calc(100% - 56px);
}

#envelopes, #accounts {
  height: calc(100% - 64px - 90px - 48px);
}

#envelopes-bin .collection, #accounts-bin .collection, #transactions-bin {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.scroller {
  overflow-y: scroll;
  overflow: overlay;
  max-height: calc(100% - 22px);
}

#left-header, #transaction-header {
  height: 90px;
  overflow: hidden;
}

#transaction-header {
  position: sticky;
  top: 64px;
}

#transactions-bin {
  margin: 5px 10px;
}

/*special logo height*/
#logo {
  height: 45px;
  margin-top: 7px;
}

#delete-modal {
  max-width: 30%;
  margin-top: 2em;
}

.datepicker-modal {
  margin-top: 2em;
}

.no-margin {
  margin: 0;
  padding-bottom: .1em; /* so the headers don't clip in the y-direction */
}

.empty-img {
  height: auto;
  max-width: 50%;
  max-height: 350px;
  margin-top: 1em;
}

.empty-text {
  margin-bottom: 2em;
  margin-top: 1em;
}

.no-message {
  padding: 5px;
}

.input-field label {
  pointer-events: none !important;
}

.transaction-status, .envelope-budget, .transaction-name, .transaction-amount, .envelope-balance, .account-balance, .transaction-type, .delete-account, .delete-envelope {
  border-left: 1px solid #e0e0e0;
}

.transaction-date, .transaction-status, .transaction-name, .transaction-amount, .transaction-type{
  height: 42px;
}

.transaction-date, .transaction-status, .envelope-budget, .transaction-name, .transaction-amount, .envelope-balance, .account-balance, .transaction-type, .delete-account, .delete-envelope, .account-icon, .envelope-icon {
  justify-content: center;
}

.scroller .envelope-budget, .scroller .envelope-balance, .scroller .envelope-name, .scroller .envelope-icon, .scroller .account-balance, .scroller .account-icon, .scroller .account-name {
  height: 36px;
}

/*.editor-col {
  height: 50px;
}*/

/*.transaction-row, .envelope-row, .account-row{
  padding: 0;
}*/

.header {
  height: auto;
}

/* keept header text from overflowing div*/
.header.col {
  padding: 0px;
}


/* makes the leftside content reach the bottom of the page*/
html, body, .content, .left-content {
  height: 100%;
}

.content {
  position: fixed;
  width: 100%;
}

.left-content {
  padding: 0 !important;
  font-size: .8em;
}

h5 {
  font-size: 1.3em;
}

.modal-content h3{
  margin-bottom: 0;
}

.balance {
  width: min-content;
  color: white;
  padding: 0 .15em;
  border-radius: 500px;
  background-color: green;
  font-weight: bold;
}

.negative {
  background-color: #e60000;
}

/*.neutral {
  background-color: black !important;
}*/

#edit-accounts, #edit-envelopes {
  margin-top: 5px;
}

#transaction-title {
  margin-left: 10px;
}

#transactions-column {
  padding: 0 !important;
  height: 100%;
}

#transactions-list {
  margin: 10px;
}

.hide {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.tiny {
  font-size: .75em;
  color: gray;
}

@media only screen and (max-width: 992px) {
  .left-content {
    height: auto;
  }

  .content {
    position: relative;
  }

  #transactions-bin {
    top: 5px;
  }

  #delete-modal {
    max-width: 50%;
  }

}

@media only screen and (max-width: 600px) {

  #delete-modal {
    max-width: 75%;
  }

  #delete-modal .modal-content{
    padding: 0 5px 10px 5px;
  }

  .delete-account, .delete-envelope {
    border-left: none;
  }

  .envelope-fill-editor-bin .envelope-row h5 {
    font-size: 1em;
  }

  .nav-wrapper i {
    height: 64px !important;
    line-height: 64px !important;
  }

  .sidenav-trigger {
    margin: 0px !important;
  }

  .navbar-fixed {
    height: 64px;
  }

  nav {
    height: 64px;
    line-height: 64px;
  }

  #transactions-bin {
    font-size: .8em;
  }

  .modal .modal-content {
    padding: 12px 0px;
  }

  .modal-content.datepicker-container {
    padding-top: 0;
  }

  .datepicker-modal {
    margin-top: 0;
  }

  #transaction-modal .tab a {
    font-size: .9em !important;
  }

  h3 {
    font-size: 2.4rem;
  }

  .select-dropdown li span {
    font-size: 1em;
    padding: 7px;
  }

  .select-wrapper input {
    font-size: 12px !important;
  }

  .select-wrapper {
    margin-bottom: .6em;
  }

  .dropdown-content li {
    min-height: 30px;
  }

  .modal {
    width: 90%;
  }

  /* Keeps transaction creation modal envelope carrats in place */
  .modal form.col {
    padding: 0 ;
  }

  #account-editor-form, #envelope-editor-form {
    padding: 0 3px;
  }

  .input-field {
    margin-bottom: 0;
  }

  .header {
    font-size: .9em;
  }

  input {
    margin-bottom: 0px !important;
  }

  input[name="note"] {
    margin-bottom: 10px !important;
  }

  .helper-text {
    margin-bottom: .5em;
  }

  .s6 .helper-text, .s4 .helper-text, .s3 .helper-text {
    font-size: .68em !important;
    margin-top: .2em;
  }

  #transaction-title {
    font-size: 1.8em;
  }

  .header {
    text-align: center;
  }

}

@media only screen and (max-width: 450px) {
    /* Extends transactions to edge of screen*/
    #transactions-bin {
      margin: 0px;
      top: 0px;
    }

    /* Keeps transaction title from wrapping*/
    #transaction-title {
      font-size: 1.5em;
    }

    #bin {
      height: calc(100% - 154px);
    }

    .transaction-name {
      font-size: .9em;
    }

    .transaction-name .tiny {
      font-size: .8em;
    }

    .envelope-budget.editor-col.col {
      padding: 0 3px;
    }

    .envelope-budget.editor-col .helper-text {
      font-size: .6em !important;
    }

}

@media only screen and (max-width: 350px) {
  .s6 .select-wrapper input {
    font-size: 10px !important;
  }

  .header {
    font-size: .8em;
  }

  .s6 .helper-text {
    font-size: .63em !important;
  }

  .transaction-date {
    font-size: .9em;
  }

  /*.balance {
    font-size: .9em;
  }*/
}