/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */



nav, footer {
  box-shadow: none;
}


nav i {
  color: white;
}

/*sets icon sizes*/
nav img, footer img {
  height: 24px;
  }


footer {
	bottom: 0px;
	width: 100%;
	border-top: solid #f1f1f1 2px;
	position: fixed;
  z-index: 10000;
}

footer a:hover{
	background-color: rgba(0,0,0,.1);
}

footer .row {
	margin: 0;
}

footer li {
	display: inline-block;
	padding: 10px 20px;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer a {
	display: inline-block;
}


/*makes side nav thinner (originally 300px)*/
.side-nav {
  width: auto;
  z-index: 1000001;
}

/*special logo icon height*/
/*margin is to fake a vertical center for the icons*/
#logo {
  height: 45px;
  margin-top: 7px;
}

.collection .collection-item{
  padding: 0;
}

.collection a.collection-item {
  color: black;
}

.tab a {
  color: orange !important;
}

.indicator {
  background-color: #ff8d00 !important;
}

/*allows modal content to fit within it without scrolling (unless it's a split transaction)*/
.modal {
  max-height: 80%;
}

/*Media queries*/

@media only screen and (min-width: 993px) {
  /*cheats the materialize css to keep the hamburger menu on screen*/
  nav a.button-collapse {
    display: inline;
  }
}