#dashboard-title-and-search-row  {
  height: 100%;
  display: flex;
  justify-content: center;
}

#dashboard-page-title {
  font-size: 2em;
  margin: 0 0 0 10px;
  padding-bottom: .1em;
}

#search-field {
  width: calc(100% - 4rem);
  margin: 0px;
}

#transaction-search {
  height: 3rem;
  margin: 0;
  font-size: 1rem;
  border-bottom: none;
  border-radius: 1.5rem;
  padding-left: 3rem;
  box-shadow: inset 0 0 5px #a2a2a2;
}

#search-icon {
  top: calc(50% - .9rem);
  left: .75rem;
}

#close-search {
  top: calc(50% - 1rem);
  right: -2rem;
}

#dashboard-title-and-search-row {
  height: 100%;
}

#advanced-search-button {
  padding-left: 1.8em;
  cursor: pointer;
}

#multi-select-icons {
  display: flex;
  flex-direction: column;
}

#multi-select-clear, #multi-select-delete {
  cursor: pointer;
}

#multi-select-clear {
  margin-bottom: 5px;
}

#multi-select-delete {
  margin-top: 5px;
}

#dashboard-title-and-search-row.collapsed {
  height: 100%;
}

#dashboard-title-and-search-row.expanded {
  height: 50%;
}

@media only screen and (max-width: 600px) {
  #search-col, #dashboard-page-title-col {
    height: 50%
  }

  #transaction-search {
    height: 2rem;
    font-size: .75rem;
  }

  #dashboard-title-and-search-row {
    display: inherit; /* Change from flex to inherit so that the searchbar columns can wrap and display under the page title columns */
  }

  #dashboard-page-title {
    padding-top: .3em;
  }

  #multi-select-icons {
    flex-direction: row;
  }

  #multi-select-clear {
    margin: 0;
  } 
  #multi-select-delete {
    margin-left: 5px;
    margin-top: 0px;
  }
}