#orange-div {
    background-color: orange;
}

body {
    background-color: #fbfbff;
}

#orange-div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background: orange;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    z-index: -1;
    box-shadow: 0px 0px 8px 4px #888888;
}

.navbar-fixed {
    box-shadow: 0px 0px 3px 2px #333;
}

#budgeteer-main-logo {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.main-content-row, .main-content-col{
    height: 100%;
}

#no-account {
    cursor: pointer
}

@media only screen and (max-width: 992px) {
    
    #orange-div {
        display: none;
    }

    main {
        height: auto;
    }

    .content {
        position: fixed;
    }

  }