#fullscreen-wrapper {
  height: calc(100% - 20px);
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 10px;
  pointer-events: none;
  overflow: hidden;
}

#bin {
  padding: 5px;
  height: calc(100% - 90px);
}

#left-header {
  justify-content: center;
  display: flex;
}

#total-container {
  margin: 5px 10px;
  width: 100%;
}

#total {
  height: 50px;
}

#total .col {
  justify-content: center;
  height: 50px;
}

#unallocated {
  height: 30px;
}

#unallocated .col {
  height: 30px;
  justify-content: center;
}

#total h4, #unallocated h6 {
  margin: .25em 0;
}

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
}

/* Hide default scroller for Chrome, Safari and Opera*/
.scroller::-webkit-scrollbar {
  display: none;
}

/* Hide default scrollbar for IE, Edge and Firefox */
.scroller {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hidden {
  display: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none !important;
}

.table-header {
  margin: 0;
}

#transactions-column {
  padding: 0 !important;
  height: calc(100% - 64px);
}

#transactions-list {
  margin: 10px;
}

#left-header, #transaction-header {
  height: 90px;
  overflow: hidden;
}

#transactions-bin {
  height: 100%;
}

#transactions-scroller {
  margin: 0;
  max-height: calc(100% - 22.5px);
}

#envelopes-scroller, #account-scroller {
  margin: 0;
  max-height: 100%;
}

.envelope-fill-sticky-row {
  position: sticky;
  top: 0px;
  padding: 5px 0px 10px 0px;
  z-index: 100;
  background: #fafafa;
  height: 90px;
}

.envelope-fill-orange-div {
  border: solid #e9c291;
  background: #f7ecd6;
  margin-top: 5px !important;
}

.envelope-fill-orange-div .col {
  height: 70px;
}

.envelope-fill-title-row {
  position: sticky;
  top: 89px;
  z-index: 100;
}

.envelope-fill-arrow-col {
  line-height: 62px;
}

/* This wrapper ensures that this hover state doesn't apply on longpress for mobile */
@media (hover: hover) {
  .transaction-row:hover {
    background-color: #eeece9 !important;
  }
}

#multi-delete-form {
  height: 100%;
}

.select-dropdown {
  pointer-events: auto;
}

.btn:focus {
  background-color: #ff5700 !important;
}

.amount-col {
  justify-content: center;
}

.amount-span {
  font-size: 1.5em;
  max-width: 170%;
}

/* fixes transaction button to bottom-right of page*/
.fixed-action-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.active-drag {
  background-color: #fff3e0 !important;
  border-top: 1px solid #e0e0e0;
}

#loading-div {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background: rgba(0,0,0,.6);
  z-index: 10000000;
}

.sort-icon {
  cursor: pointer;
}

/*Makes balance and reconcile balance look proper in their box*/
.reconcile-row {
  margin-top: -5px !important;
  height: 19px;
  overflow: hidden;
}

.balance-row {
  margin-top: 5px !important;
}

.remove-envelope-button {
  margin-bottom: 5px;
}

.helper-text {
  height: 22px;
}

#title-row, #title-row .col {
  height: 100%;
}

/* Ensure that the multiselect buttons don't show on page load */
#multi-select-col {
  display: none;
}

#multi-select-col .row {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#multi-select-clear, #multi-delete-submit {
  cursor: pointer;
}

#page-title-col {
  display: flex;
  align-items: center;
}

#page-title {
  font-size: 2em;
  margin: 0 0 0 10px;
  padding-bottom: .1em;
}

input[type="text"]:not(.special-fill-input, .special-input-envelope-editor, .special-input-account-editor) {
  margin-bottom: 0px !important;
}

.special-fill-input, .special-input-envelope-editor, .special-input-account-editor {
  margin-bottom: 10px !important;
}

.transaction {
  cursor: pointer;
}

.transaction-row {
  cursor: default;
}

.transaction-link {
  color: black;
  padding: 0 !important;
}

.little-balance {
  font-size: .8em;
  color: gray;
}

.schedule-content {
  display: none;
}

.flex {
  display: flex;
}

.flex-parent {
  display: flex;
  align-items: center;
}

.flex-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}

.flex-child i {
  vertical-align: middle;
}

.envelope-fill-collection {
  margin-top: 0px
}

.no-padding {
  padding: 0 !important;
}

.schedule-label {
  color: gray;
}

.edit-envelope-row .input-field, .account-row .input-field {
  margin: 0;
}

.envelope-row {
  width: 90%;
  margin: 0 5%;
}

.budget-bar {
  /*width: 90%;*/
  margin-bottom: 7px;
  text-align: left;
  height: 16px;
}

.budget-measure {
  height: 100%;
  background-color: #1f921f;
}

.budget-text {
  font-size: 1.2em;
}

.schedule-content, .checkbox-bucket {
  display: none;
}

.checkbox-span {
  padding-left: 20px !important;
  height: 20px !important;
}

.schedule-label {
  color: gray;
}

#envelopes-bin, #accounts-bin {
  margin-top: 5px;
  height: calc(100% - 56px);
}

#envelopes, #accounts {
  height: calc(100% - 64px - 90px - 48px);
}

.transaction-name .row {
  text-align: left;
}

.transaction-details {
  max-height: 18px;
}

i.no-margin.tiny {
  line-height: 18px;
  padding-bottom: .1em;
}

/*special logo height*/
#logo {
  height: 45px;
  margin-top: 7px;
}

pre {
  margin: inherit;
}

#delete-modal {
  max-width: 30%;
  margin-top: 2em;
}

.datepicker-modal {
  margin-top: 2em;
}

.datepicker-modal .dropdown-trigger:focus{
  background-color: #26a69a;
}

.no-margin {
  margin: 0;
}

h5.no-margin {
  padding-bottom: .1em;
}

.empty-img {
  height: auto;
  max-width: 50%;
  max-height: 350px;
  margin-top: 1em;
}

.empty-text {
  margin-bottom: 2em;
  margin-top: 1em;
}

.no-message {
  padding: 5px;
}

.input-field label {
  pointer-events: none !important;
}

.transaction-status, .envelope-budget, .transaction-name, .transaction-amount, .envelope-balance, .envelope-balance-col, .account-balance, .transaction-type, .delete-account, .delete-envelope {
  border-left: 1px solid #e0e0e0;
}

.transaction-date, .transaction-status, .transaction-name, .transaction-amount, .transaction-type{
  height: 42px;
}

.transaction-date, .transaction-status, .envelope-budget, .transaction-name, .transaction-amount, .envelope-balance, .account-balance, .transaction-type, .delete-account, .delete-envelope, .account-icon, .envelope-icon, .sort-icon {
  justify-content: center;
}

.scroller .account-balance, .scroller .account-icon, .scroller .account-name {
  height: 36px;
}

.header {
  height: auto;
}

/* keept header text from overflowing div*/
.header.col {
  padding: 0px;
}


/* makes the leftside content reach the bottom of the page*/
html, body, .content, .left-content {
  height: 100vh;
}

main {
  height: calc(100vh - 64px);
}

.content {
  position: fixed;
  width: 100%;
}

.left-content {
  padding: 0 !important;
  font-size: .8em;
}

h5 {
  font-size: 1.3em;
}

.modal-content h3{
  margin-bottom: 0;
}

.balance {
  width: min-content;
  color: white;
  padding: 0 .15em;
  border-radius: 500px;
  background-color: #108010;
  font-weight: bold;
}

.negative {
  background-color: #d50707;
}

.neutral {
  background-color: gray;
}

#edit-accounts, #edit-envelopes {
  margin-top: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

.tiny {
  font-size: .75em;
  color: gray;
}

.pending {
  color: gray;
  background-color: #F8F8F8 !important;
}

.pending .balance {
  background-color: gray;
}

/* Selector for the last pending transaction row */
.pending:not(:has(~ .pending)) {
  border-bottom: 2px solid #d7d7d7 !important;
}

.checked-background {
  background-color: #ffe7bb !important;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.envelope-fill-balance-row {
  height: 70%;
  justify-content: center;
}

.envelope-fill-budget-row {
  height: 30%;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  #total-container {
    width: fit-content;
    min-width: 75%;
  }
  
  .left-content {
    height: auto;
  }

  main {
    height: 100%;
  }

  .content {
    position: relative;
  }

  #delete-modal {
    max-width: 50%;
  }

  #envelopes, #accounts {
    padding-bottom: 1em;
  }

  .s6 .helper-text, .s4 .helper-text, .s3 .helper-text, .m2 .helper-text {
    font-size: .68em !important;
    margin-top: .2em;
  }

  /* input.validate {
    margin-bottom: 0px !important;
  } */

  .non-selectable {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

}

@media only screen and (max-width: 600px) {

  .modal .amount-span {
    font-size: .85em;
  }

  #delete-modal {
    max-width: 75%;
  }

  #delete-modal .modal-content{
    padding: 0 5px 10px 5px;
  }

  .delete-account, .delete-envelope {
    border-left: none;
  }

  .envelope-fill-editor-bin .envelope-row h5 {
    font-size: 1em;
  }

  .nav-wrapper i {
    height: 64px !important;
    line-height: 64px !important;
  }

  .sidenav-trigger {
    margin: 0px !important;
  }

  .navbar-fixed {
    height: 64px;
  }

  nav {
    height: 64px;
    line-height: 64px;
  }

  #transactions-bin {
    font-size: .8em;
  }

  .modal .modal-content {
    padding: 12px 0px;
  }

  .modal-content.datepicker-container {
    padding-top: 0;
  }

  .datepicker-modal {
    margin-top: 0;
  }

  #transaction-modal .tab a {
    font-size: .9em !important;
  }

  h3 {
    font-size: 2.4rem;
  }

  .select-dropdown li span {
    font-size: 1em;
    padding: 7px;
  }

  .select-wrapper input {
    font-size: 12px !important;
  }

  .select-wrapper {
    margin-bottom: .6em;
  }

  .dropdown-content li {
    min-height: 30px;
  }

  .modal {
    width: 90%;
  }

  /* Keeps transaction creation modal envelope carrats in place */
  .modal form.col {
    padding: 0 ;
  }

  #account-editor-form, #envelope-editor-form {
    padding: 0 3px;
  }

  .input-field {
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 0px !important;
  }

  input[name="note"] {
    margin-bottom: 10px !important;
  }

  .helper-text {
    margin-bottom: .5em;
  }

  .s6 .helper-text, .s4 .helper-text, .s3 .helper-text, .m2 .helper-text {
    font-size: .68em !important;
    margin-top: .2em;
  }

  #page-title {
    font-size: 1.8em;
  }

  .header {
    text-align: center;
  }

  .schedule-label {
    font-size: .75em;
  }

  .remove-envelope-button-col {
    padding: 0 !important;
  }

}

@media only screen and (max-width: 450px) {
    
  .modal .amount-span {
    font-size: .8em;
  }
    
  /* Extends transactions to edge of screen*/
  #bin {
    padding: 0px
  }

  .long-date {
    display: none;
  }

  .short-date {
    display: inline !important;
    line-height: 16px;
  }

  /* Keeps transaction title from wrapping*/
  #page-title {
    font-size: 1.5em;
  }

  .transaction-name {
    font-size: .9em;
  }

  .transaction-name .tiny {
    font-size: 1.2em;
  }

  .envelope-budget.editor-col.col {
    padding: 0 3px;
  }

  .envelope-budget.editor-col .helper-text {
    font-size: .6em !important;
  }

  .transaction-name h5 {
    margin: 5px 0px 0px 0px;
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 350px) {
  .modal .amount-span {
    font-size: .6em;
  }
  
  .s6 .select-wrapper input {
    font-size: 10px !important;
  }

  .s6 .helper-text {
    font-size: .63em !important;
  }

  .transaction-date {
    font-size: .9em;
  }

  /*.balance {
    font-size: .9em;
  }*/

}