/* fixes transaction button to bottom-right of page*/
.fixed-action-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.gone {
  display: none;
  height: 0px;
  width: 0px;
}

#loading-div-div {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:10000000;
}

#loading-div {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background: rgba(0,0,0,.6);
  z-index: 10000001;
}

.checked-background {
  background-color: #ffe7bb !important;
}

/*Makes balance and reconcile balance look proper in their box*/
.account-reconcile-row, .envelope-reconcile-row {
  margin-top: -5px !important;
  /*Keeps a single transaction in the bin from creating a scroll bar by overflowing*/
  height: 19px;
  overflow: hidden;
}

/*Makes balance and reconcile balance look proper in their box*/
.balance-row-adjust {
  margin-top: 5px !important;
}

.remove-envelope-button {
  margin-bottom: 5px;
}

.helper-text {
  height: 22px;
}

#title-row {
  height: 65px;
}

#title-options-row {
  height: 25px;
}

input[type="text"] {
  margin-bottom: 0px !important;
}

.transaction {
  cursor: pointer;
}

.transaction-link {
  color: black;
  padding: 0 !important;
}

.little-balance {
  font-size: .8em;
  color: gray;
}

.schedule-content {
  display: none;
}

.flex {
  display: flex;
}

.flex-parent {
  display: flex;
  align-items: center;
}

.flex-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}

.flex-child i {
  vertical-align: middle;
}

.no-padding {
  padding: 0 !important;
}

.checkbox-special {
  padding-left: 20px !important;
  height: 20px !important;
}

.schedule-label {
  color: gray;
}

.edit-envelope-row .input-field, .account-row .input-field {
  margin: 0;
}

.envelope-row {
  width: 90%;
  margin: 0 5%;
}

.budget-bar {
  /*width: 90%;*/
  margin-bottom: 7px;
  text-align: left;
  height: 16px;
}

.budget-measure {
  height: 100%;
  background-color: #1f921f;
}

.budget-text {
  font-size: 1.2em;
}

.schedule-content, .checkbox-bucket {
  display: none;
}

.checkbox-special {
  padding-left: 20px !important;
  height: 20px !important;
}

.checkbox-disabled {
  cursor: default !important;
}

.schedule-label {
  color: gray;
}

#bin {
  position: sticky;
  height: calc(100% - 100px);
  top: 154px;
}

#total h4, #unallocated h4 {
  margin: .25em 0;
}

#envelopes-bin, #accounts-bin {
  height: calc(100% - 56px);
}

#envelopes, #accounts {
  height: calc(100% - 64px - 90px - 48px);
}

#multi-delete-submit {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  display: none;
}

/* keeps the scroller working properly for transactions*/
#multi-delete-form {
  display: inline;
}

/* keeps the scroller working properly for transactions*/
.transaction-name .row {
  text-align: left;
}

/* keeps the scroller working properly for transactions*/
.transaction-details {
  max-height: 18px;
}

/* keeps the scroller working properly for transactions*/
i.no-margin.tiny {
  line-height: 18px;
  padding-bottom: .1em;
}

#envelopes-bin .collection, #accounts-bin .collection, #transactions-bin {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.scroller {
  overflow-y: scroll;
  overflow: overlay;
  max-height: calc(100% - 22px);
}

#left-header, #transaction-header {
  height: 90px;
  overflow: hidden;
}

#transaction-header {
  position: sticky;
  top: 64px;
}

#transactions-bin {
  margin: 5px 10px;
}

/*special logo height*/
#logo {
  height: 45px;
  margin-top: 7px;
}

pre {
  margin: inherit;
}

#delete-modal {
  max-width: 30%;
  margin-top: 2em;
}

.datepicker-modal {
  margin-top: 2em;
}

.no-margin {
  margin: 0;
}

h5.no-margin {
  padding-bottom: .1em;
}

.empty-img {
  height: auto;
  max-width: 50%;
  max-height: 350px;
  margin-top: 1em;
}

.empty-text {
  margin-bottom: 2em;
  margin-top: 1em;
}

.no-message {
  padding: 5px;
}

.input-field label {
  pointer-events: none !important;
}

.transaction-status, .envelope-budget, .transaction-name, .transaction-amount, .envelope-balance, .account-balance, .transaction-type, .delete-account, .delete-envelope {
  border-left: 1px solid #e0e0e0;
}

.transaction-date, .transaction-status, .transaction-name, .transaction-amount, .transaction-type{
  height: 42px;
}

.transaction-date, .transaction-status, .envelope-budget, .transaction-name, .transaction-amount, .envelope-balance, .account-balance, .transaction-type, .delete-account, .delete-envelope, .account-icon, .envelope-icon {
  justify-content: center;
}

.scroller .account-balance, .scroller .account-icon, .scroller .account-name {
  height: 36px;
}

.header {
  height: auto;
}

/* keept header text from overflowing div*/
.header.col {
  padding: 0px;
}


/* makes the leftside content reach the bottom of the page*/
html, body, .content, .left-content {
  height: 100vh;
}

main {
  height: calc(100vh - 64px);
}

.content {
  position: fixed;
  width: 100%;
}

.left-content {
  padding: 0 !important;
  font-size: .8em;
}

h5 {
  font-size: 1.3em;
}

.modal-content h3{
  margin-bottom: 0;
}

.balance {
  width: min-content;
  color: white;
  padding: 0 .15em;
  border-radius: 500px;
  background-color: #108010;
  font-weight: bold;
}

.negative {
  background-color: #d50707;
}

.neutral {
  background-color: #656565 !important;
}

#edit-accounts, #edit-envelopes {
  margin-top: 5px;
}

#transaction-title {
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: .2em; /* so the header doesn't clip in the y-direction */
}

#transactions-column {
  padding: 0 !important;
  height: calc(100% - 64px);
}

#transactions-list {
  margin: 10px;
}

.strikethrough {
  text-decoration: line-through;
}

.tiny {
  font-size: .75em;
  color: gray;
}

.pending {
  color: gray;
}

.pending .balance {
  background-color: gray;
}

@media only screen and (max-width: 992px) {
  .left-content {
    height: auto;
  }

  main {
    height: 100%;
  }

  .content {
    position: relative;
  }

  #transactions-bin {
    top: 5px;
  }

  #delete-modal {
    max-width: 50%;
  }

  #envelopes, #accounts {
    padding-bottom: 1em;
  }

  .s6 .helper-text, .s4 .helper-text, .s3 .helper-text, .m2 .helper-text {
    font-size: .68em !important;
    margin-top: .2em;
  }

  input.validate {
    margin-bottom: 0px !important;
  }

  .non-selectable {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

}

@media only screen and (max-width: 600px) {

  #delete-modal {
    max-width: 75%;
  }


  #delete-modal .modal-content{
    padding: 0 5px 10px 5px;
  }

  .delete-account, .delete-envelope {
    border-left: none;
  }

  .envelope-fill-editor-bin .envelope-row h5 {
    font-size: 1em;
  }

  .nav-wrapper i {
    height: 64px !important;
    line-height: 64px !important;
  }

  .sidenav-trigger {
    margin: 0px !important;
  }

  .navbar-fixed {
    height: 64px;
  }

  nav {
    height: 64px;
    line-height: 64px;
  }

  #transactions-bin {
    font-size: .8em;
  }

  .modal .modal-content {
    padding: 12px 0px;
  }

  .modal-content.datepicker-container {
    padding-top: 0;
  }

  .datepicker-modal {
    margin-top: 0;
  }

  #transaction-modal .tab a {
    font-size: .9em !important;
  }

  h3 {
    font-size: 2.4rem;
  }

  .select-dropdown li span {
    font-size: 1em;
    padding: 7px;
  }

  .select-wrapper input {
    font-size: 12px !important;
  }

  .select-wrapper {
    margin-bottom: .6em;
  }

  .dropdown-content li {
    min-height: 30px;
  }

  .modal {
    width: 90%;
  }

  /* Keeps transaction creation modal envelope carrats in place */
  .modal form.col {
    padding: 0 ;
  }

  #account-editor-form, #envelope-editor-form {
    padding: 0 3px;
  }

  .input-field {
    margin-bottom: 0;
  }

  input {
    margin-bottom: 0px !important;
  }

  input[name="note"] {
    margin-bottom: 10px !important;
  }

  .helper-text {
    margin-bottom: .5em;
  }

  .s6 .helper-text, .s4 .helper-text, .s3 .helper-text, .m2 .helper-text {
    font-size: .68em !important;
    margin-top: .2em;
  }

  #transaction-title {
    font-size: 1.8em;
  }

  .header {
    text-align: center;
  }

  .schedule-label {
    font-size: .75em;
  }

  .remove-envelope-button-col {
    padding: 0 !important;
  }

}

@media only screen and (max-width: 450px) {
    /* Extends transactions to edge of screen*/
    #transactions-bin {
      margin: 0px;
      top: 0px;
    }

    .long-date {
      display: none;
    }

    .short-date {
      display: inline !important;
      line-height: 16px;
    }

    /* Keeps transaction title from wrapping*/
    #transaction-title {
      font-size: 1.5em;
    }

    #bin {
      height: calc(100% - 90px);
    }

    .transaction-name {
      font-size: .9em;
    }

    .transaction-name .tiny {
      font-size: 1.2em;
    }

    .envelope-budget.editor-col.col {
      padding: 0 3px;
    }

    .envelope-budget.editor-col .helper-text {
      font-size: .6em !important;
    }

    .transaction-name h5 {
      margin: 5px 0px 0px 0px;
      font-size: 1.5em;
    }

}

@media only screen and (max-width: 350px) {
  .s6 .select-wrapper input {
    font-size: 10px !important;
  }

  .s6 .helper-text {
    font-size: .63em !important;
  }

  .transaction-date {
    font-size: .9em;
  }

  /*.balance {
    font-size: .9em;
  }*/
}