/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */


/*gets rid of background color on focus*/
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: transparent;
}

.form-error{
  color: #D8000C;
}

/* Fixes scrolling glitch due to invisible checkboxes not scrolling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  width: 0px;
  height: 0px;
}

/*gets rid of green on verified text input*/
input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #9e9e9e;
  webkit-box-shadow: none;
  box-shadow: none;
}

/*makes the rows thinner for transactions and so they don't overflow their columns*/
.row {
  margin: 0 !important;
  text-align: center;
}

.waves-effect {
  width: 100%
}

nav {
  box-shadow: none;
}

.collection .collection-item{
  padding: 0;
}

.collection a.collection-item {
  color: black;
}


/*changes default color of tab text*/
.tab a {
  color: orange !important;
}

/*changes default color of tabs indicator bar*/
.indicator {
  background-color: #ff8d00 !important;
}

/*allows modal content to fit within it without scrolling (unless it's a split transaction)*/
.modal {
  max-height: 80%;
}

/* makes the hamburger menu always show up, even on large screens*/
nav a.sidenav-trigger {
  display: inline;
}

/*Doesn't do anything visually, but keeps this div within the nav*/
nav .brand-logo {
  height: 64px;
}

/* Changed default, disabled, filled-in checkbox so it's only a gray border */
[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):after {
  border-color: #949494;
  background-color: transparent;
}