:root {
    --bin-padding: 5px;
}

#transactions-scroller, #scroller, #bin, #main, #column1 {
    box-sizing: content-box;
}

body {
    display: flex;
    flex-direction: column;

    /* Keep the page from scrolling on desktop view */
    height: 100vh;
    overflow: hidden;
}

nav {
    flex: 0 0 var(--navbar-height);
    text-align: center;
    z-index: 1000;
    width: 100%;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

main {
    flex: 1;
    display: flex;
    overflow: hidden; /* Locks the main container to prevent page scroll */
}

#column1 {
    width: 30%;
    height: 100%;
    background-color: #607d8b;
    display: flex;
    flex-direction: column;
}

#left-content {
    /* flex: 1; */
    margin: 10px;
    background-color: lightgray;
    border: 1px solid gray;
    overflow-y: auto; /* Independent Scroll */
}

#column2 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dashboard-header {
    flex: 0 0 var(--dashboard-header-height);
    background-color: orange;
    text-align: center;
    line-height: var(--dashboard-header-height);
    height: var(--dashboard-header-height);
    overflow: hidden;
}

#bin {
    padding: var(--bin-padding);
    overflow: hidden; /* Locking container */
    display: flex;
    flex-direction: column;
}

#transactions-bin {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    overflow: hidden;
    box-sizing: border-box;
}

#tableheader {
    flex: 0 0 10px; /* Fixed header inside the bin */
    background-color: lightgray;
    border: 1px solid gray;
    text-align: center;
    line-height: 10px;
    font-size: 8px;
    z-index: 10;
}

#transactions-scroller {
    flex: 1;
    overflow-y: auto; /* Independent Scroll */
}

/* ==============
   MOBILE LAYOUT
   ============== */
@media only screen and (max-width: 992px) {
    body, main, #bin, #transactions-bin, #tableheader {
        overflow: unset;
    }

    body {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
    }

    main {
        display: block;
        top: var(--navbar-height);
        min-height: 100vh;
    }

    #column1 {
        width: 100%;
        margin-top: var(--navbar-height);
    }

    #column2 {
        width: 100%;
        min-height: calc(100vh - var(--navbar-height));
    }

    #dashboard-header {
        position: sticky;
        top: var(--navbar-height); 
    }

    #tableheader {
        position: sticky;
        top: calc(var(--navbar-height) + var(--dashboard-header-height) + var(--bin-padding));
    }

    #tableheader::before {
        content: "";
        position: absolute;
        
        /* Move it up to cover the gap (var(--bin-padding)) */
        top: -6px; 
        
        /* Make it wider than the parent. 
           -5px matches the bin-padding to pull it to the very edges */
        left: -5px;
        right: -5px;
        
        /* The height should be the gap (5px) plus a little extra for overlap */
        height: 5px;
        
        background-color: white;
        z-index: -1; /* Keeps it behind the "Header Text" but above the transactions */
    }
}

/* Shared Item Styles */
.envelope, .transaction {
    height: 40px;
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    line-height: 40px;
}

.light-gray {
    background-color: #f3f3f3;
}

h1 {
    color: white;
    margin: 0;
}