<div id="bug-report-modal" class="modal">
    <div class="modal-content">
  
        <div class="row">
            <h1>Report a bug!</h1>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s10 push-s1 left-align">
                <p>Budgeteer is still under development, so thank you for helping by reporting any bugs you may find! Please include as many details as you can, such as what browser you are using, if you are on mobile or desktop, and what actions you took leading the unexpected behavior.</p>
                <p>You will be sent a confirmation email that your message was received, and you may receive an email asking you for more details.</p>
            </div>
        </div>
        <div class="divider"></div>
    
        <form id="bug-report-form" method="POST" action="{{ url_for('error_handling.bug_report') }}" enctype="multipart/form-data">
            {{ bug_report_form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s6">
                    {{bug_report_form.bug_reporter_name.label}}
                    {{bug_report_form.bug_reporter_name(class="validate")}}
                    <span class="helper-text" data-error="Please include your name"></span>
                </div>
                <div class="input-field col s6">
                    {{bug_report_form.bug_reporter_email.label}}
                    {{bug_report_form.bug_reporter_email(class="validate")}}
                    <span class="helper-text" data-error="Invalid email address"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{bug_report_form.bug_description.label}}
                    {{bug_report_form.bug_description(class="validate materialize-textarea")}}
                    <span class="helper-text" data-error="Please include a description"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s4 left-align">
                    <p>If helpful, please include a screenshot of the bug you have encountered.</p>
                </div>
                <div class="col s8 file-field input-field">
                   <div class="btn">
                      <span>Browse</span>
                      <!-- <input type="file" name="screenshot" accept="image/*"/> -->
                      {{bug_report_form.screenshot(class="validate")}}
                      <span class="helper-text" data-error="Invalid file type"></span>
                   </div>
                   
                   <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload file"/>
                   </div>
                </div>
             </div>
            <div class="row">
                <div class="col s6 push-s3">
                    <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
                </div>
            </div>
        </form>

    </div>
  </div>