<li id="new-account-row" class="row account-row collection-item flex">
  <div class="col m1 hide-on-small-only valign-wrapper editor-col account-icon">
    <i class="material-icons sort-icon">unfold_more</i>
    <input name="new-account-order" type="hidden" value="" required>
</div>
  <div class="col s7 m6 account-name left-align editor-col input-field">
    <input required class="validate" type="text" name="new-account-name" />
    <span class="helper-text" data-error="Account name required"></span>
  </div>
  <div class="col s4 m3 account-balance editor-col input-field">
    <input required class="validate" type="number" step=".01" name="new-account-balance" pattern="^[-]?([1-9]{1}[0-9]{0,}(\\.[0-9]{0,2})?|0(\\.[0-9]{0,2})?|\\.[0-9]{1,2})$" />
    <span class="helper-text" data-error="Must be numeric"></span>
  </div>
  <div class="col s1 m2 valign-wrapper delete-account editor-col">
    <a href="#!" class="delete-account-button">
      <i class="material-icons red-text">delete_forever</i></a>
  </div>
</li>