<li id="new-envelope-row" class="row edit-envelope-row collection-item flex">
    <div class="col m1 hide-on-small-only valign-wrapper editor-col envelope-icon">
        <i class="material-icons sort-icon">unfold_more</i>
        <input name="new-envelope-order" type="hidden" value="" required>
    </div>
    <div class="col s6 m4 envelope-name left-align editor-col input-field">
        <input required class="validate" type="text" name="new-envelope-name">
    </div>
    <div class="col s5 m2 envelope-budget editor-col input-field">
        <input class="validate special-input-envelope-editor" type="text" autocomplete="off" name="new-envelope-budget" required>
    </div>
    <div class="col m3 hide-on-small-only valign-wrapper envelope-balance editor-col">
        <span class="balance neutral">$0.00</span>
    </div>
    <div class="col s1 m2 valign-wrapper delete-envelope editor-col">
        <a href="#!" class="delete-envelope-button">
            <i class="material-icons red-text">delete_forever</i>
        </a>
    </div>
</li>