<div id="envelopes-bin">
  {% if are_active_envelopes == false %}
    <img class="empty-img" src="{{url_for('static', filename='img/Budgeteer_White_And_Red.png')}}">
    <h5 class="empty-text white-text">You don't have any envelopes yet!</h5>
  {% else %}
    <ul id="envelopes-scroller" class="collection scroller">
        {% for id, envelope in envelopes_data.items() %}
          {% if envelope.deleted == false and envelope.id != unallocated_e_id %}
            <a class="waves-effect collection-item envelope-link" data-url="{{ url_for('main.load_envelope_transactions') }}" data-envelope-id={{envelope.id}} data-envelope-balance={{envelope.balance}} data-envelope-budget="{{envelope.budget}}">
              <li class="envelope-row">
                <div class="row flex-parent">
                  <div class="flex-child envelope-name no-padding blue-grey-text text-darken-3">
                    <i class="material-icons hide-on-small-only">mail_outline</i> {{envelope.name}}
                  </div>
                  <div class="no-padding blue-grey-text text-darken-3">
                    <h6><b>{{envelope.balance|balanceformat}}</b> of {{envelope.budget|balanceformat}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="budget-bar grey lighten-2">
                    <div class="budget-measure"></div>
                  </div>
                </div>
              </li>
            </a>
          {% endif %}
        {% endfor %}
    </ul>
  {% endif %}
</div>