<div id="envelope-modal" class="modal">
  <div class="modal-content">
    <div class="row">

      <h3>Edit Envelopes</h3>

      <form id="envelope-editor-form" action="{{ url_for('edit_envelopes_page') }}" method="post">
        <div class="row budget-total-row">
          <h5>Total Budget: <b><span id="budget-total">{{budget_total|balanceformat}}</span></b></h5>
        </div>
        <ul id="envelope-editor-bin" class="collection">
          <li class="row collection-item left-align grey lighten-3 unsortable">
            <div class="col s6 m4 offset-m1 header left-align">Name</div>
            <div class="col s6 m2 header envelope-budget">Budgeted</div>
            <div class="col m3 hide-on-small-only header envelope-balance">Balance</div>
            <div class="col m2 hide-on-small-only header delete-envelope">Delete</div>
          </li>
          {% for id, envelope in envelopes_data.items() %}
            {% if envelope.deleted == false and envelope.id != unallocated_e_id %}
              <li class="row edit-envelope-row collection-item flex">
                <div class="col s1 m1 valign-wrapper sort-icon">
                  <i class="material-icons sort-icon">unfold_more</i>
                  <input name="envelope-id" type="hidden" value="{{envelope.id}}" required>
                  <input name="envelope-order" type="hidden" value="{{envelope.display_order}}" required>
                </div>
                <div class="col s5 m4 envelope-name left-align input-field">
                  <input class="validate" type="text" value="{{envelope.name}}" name="edit-envelope-name" required>
                  <input name="original-envelope-name" type="hidden" value="{{envelope.name}}" required>
                </div>
                <div class="col s5 m2 envelope-budget input-field">
                  <input class="validate special-input-envelope-editor" type="text" autocomplete="off" name="edit-envelope-budget" value="{{envelope.budget|inputformat}}" required pattern="^-?(?!0\d)\d+(?:\.\d{2})?$">
                  <input name="original-envelope-budget" type="hidden" value="{{envelope.budget}}" required>
                </div>
                <div class="col m3 hide-on-small-only valign-wrapper envelope-balance">
                  <span class="{{'negative' if envelope.balance < 0}} balance">{{envelope.balance|balanceformat}}</span>
                  <input name="envelope-balance" type="hidden" value="{{envelope.balance}}" required>
                </div>
                <div class="col s1 m2 valign-wrapper delete-envelope">
                  <a href="#!" class="delete-envelope-button"><i class="material-icons red-text">delete_forever</i></a>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="row">
          <div class="col m3 s6 left-align">
            <a id="new-envelope-row" href="#!" class="tiny">+ New envelope</a>
          </div>
          <div class="col s6 m3 push-m6">
            <button class="btn waves-effect waves-light yellow darken-4" type="submit" name="action" href="#!">Update</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>