<div id="envelope-fill-modal" class="modal">
  <div class="modal-content">

      <div class="row">
        <h3>Fill Envelopes</h3>
      </div>

      <form id="envelope-fill-form" action="{{ url_for('fill_envelopes') }}" method="post">

        <div class="row">
          <div class="input-field col s6">
            <input id="name" class = "validate" type="text" name="name" required>
            <label for="name">Name</label>
            <span class="helper-text" data-error="Transaction name required"></span>
          </div>
          <div class="input-field col s6">
            <input id="transaction-date" type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
            <label for="transaction-date">Date</label>
            <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
          </div>
        </div>

        <div class="row envelope-fill-sticky-row">
          <div class="row envelope-fill-orange-div">
            <div class="col s5 offset-1">
              <h6>Unallocated:</h6>
              <h6><span id="unallocated-balance-envelope-filler" class="{{'negative' if envelopes_data[1].balance[0] == '-'}} balance">{{envelopes_data[1].balance}}</span></h6>
            </div>
            <div class="col s2 envelope-fill-arrow-col">
              <i class="medium material-icons blue-grey-text text-darken-2">arrow_forward</i>
            </div>
            <div class="col s5">
              <h6>Fill total:</h6>
              <h6><span id="fill-total" class="balance neutral">$0.00</span></h6>
            </div>
          </div>
        </div>

        <ul class="row collection envelope-fill-title-row">
          <li class="row collection-item left-align grey lighten-3">
            <div class="col s5 offset-m1 header left-align">Name</div>
            <div class="col s3 header envelope-budget">Amount</div>
            <div class="col s4 m3 header envelope-balance">Balance</div>
          </li>
        </ul>

        <ul class="collection envelope-fill-collection">
          <div class="envelope-fill-editor-bin">
            {% if active_envelopes == false%}
              <div class="row collection-item">
                <h5 class="no-margin no-message">You don't have any envelopes yet!</h5>
              </div>
            {% else %}
              {% for id, envelope in envelopes_data.items() %}
                {% if envelope.deleted == false and envelope.id != 1 %}
                  <li class="row edit-envelope-row collection-item flex">
                    <div class="col m1 hide-on-small-only valign-wrapper envelope-icon editor-col"><i class="material-icons">mail_outline</i></div>
                    <div class="col s5 valign-wrapper envelope-name left-align editor-col input-field">
                      <h5 class="truncate no-margin">{{envelope.name}}</h5>
                      <input type="hidden" value={{envelope.id}} name="envelope_id">
                    </div>
                    <div class="col s3 envelope-budget editor-col input-field">
                      <input class="validate special-fill-input" type="text" autocomplete="off" name="fill-amount" placeholder="0.00">
                    </div>
                    <div class="col s4 m3 valign-wrapper envelope-balance editor-col">
                      <span class="{{'negative' if envelope.balance[0] == '-'}} balance">{{envelope.balance}}</span>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </ul>

        <div class="row">
          <div class="input-field col s10">
            <input id="note" type="text" placeholder="(Optional)" name="note">
            <label for="note">Note</label>
          </div>
          <div class="col s2 no-padding">
            <div class="row">
              <h6 class="schedule-label">Scheduled?</h6>
            </div>
            <div class="row">
              <label for="edit-envelope-fill-schedule">
                <input id="edit-envelope-fill-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                <span class="checkbox-span scheduler"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row schedule-content">
          <div class="col s6 input-field">
            <select name="schedule" class="schedule-select">
              <option value="daily" selected>Daily</option>
              <option value="weekly">Weekly</option>
              <option value="biweekly">Biweekly</option>
              <option value="monthly">Monthly</option>
              <option value="endofmonth">End of Month</option>
              <option value="semianually">Semianually</option>
              <option value="anually">Anually</option>
            </select>
            <label>Frequency</label>
          </div>
          <div class="col s6">
            <p class="schedule-message grey-text"></p>
          </div>
        </div>

        <div class="row">
          <div class="col s6 push-s3">
            <button class="btn waves-effect waves-light yellow darken-4" name="action" type="submit" href="#!">Submit</button>
          </div>
        </div>

      </form>


  </div>
</div>