<div class="envelope-fill-editor-bin">
  {% if active_envelopes == false%}
    <div class="row collection-item">
      <h5 class="no-margin no-message">You don't have any envelopes yet!</h5>
    </div>
  {% else %}
    {% for id, envelope in envelopes_data.items() %}
      {% if envelope.deleted == false and envelope.id != unallocated_e_id %}
        <li class="row edit-envelope-row collection-item flex">
          <div class="col m1 hide-on-small-only valign-wrapper envelope-icon editor-col"><i class="material-icons">mail_outline</i></div>
          <div class="col s5 valign-wrapper envelope-name left-align editor-col input-field">
            <h5 class="truncate no-margin">{{envelope.name}}</h5>
            <input type="hidden" value={{envelope.id}} name="envelope_id">
          </div>
          <div class="col s3 envelope-budget editor-col input-field">
            <input class="validate special-fill-input" type="text" autocomplete="off" name="fill-amount" data-original-balance="{{envelope.balance}}" data-prefill-balance="" placeholder="0.00" data-envelope-id="{{envelope.id}}" pattern="^-?(?!0\d)\d+(?:\.\d{2})?$">
          </div>
          <div class="col s4 m3 envelope-balance-col editor-col">
            <div class="row envelope-fill-balance-row valign-wrapper">
              <span class="{{'negative' if envelope.balance < 0}} balance">{{envelope.balance|balanceformat}}</span>
            </div>
            <div class="row envelope-fill-budget-row valign-wrapper">
              <span class="tiny">of {{envelope.budget|balanceformat}}</span>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>