<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/unconfirmed.css')}}" type = text/css rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

    <!-- Main Nav -->
    <div class="navbar-fixed">
      <nav class="yellow darken-4">
        <div class="nav-wrapper">
            <div id="logo-container" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></div>
        </div>
      </nav>
    </div>

  <!-- Content -->
  <main>
    
    <div id="loading-div-div">
      <div id="loading-div">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel">
                <h1 class="center-align">Whoops!</h1>
                <div class="divider"></div>
                <h5>You've encountered the following error:</h5>
                <p class="center-align red-text text-darken-2">{{message}}</p>
                <h5 class="center-align">Return to <a href="{{url_for('main.home')}}">budgeteerapp.com</a></h5>
                {% if bug_report_form is defined %}
                <p>Or click <a class="modal-trigger" href="#bug-report-modal">here</a> to report a bug.</p>
                {% endif %}
            </div>
        </div>
    </div>
  </main>

  {% if bug_report_form is defined %}
    {% include 'bug_report_modal.html' %}
  {% endif %}

  <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/gen_timestamp.js')}}"></script>
  <script src="{{url_for('static', filename='js/loading_spinner.js')}}"></script>
  <script src="{{url_for('static', filename='js/display_field_errors.js')}}"></script>
  <script src="{{url_for('static', filename='js/bug_report.js')}}"></script>
</body>
</html>