<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/common.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/dashboard_header.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

  <!-- Hidden CSRF token input -->
  <input id="csrf-token" type="hidden" value="{{csrf_token()}}">

  <!-- Loading spinner overlay -->
  <div id="loading-div">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Side Nav -->
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="{{url_for('static', filename='img/user-background.jpg')}}">
        </div>
        <img class="circle" src="{{url_for('static', filename='img/default-user-image.png')}}">
        <span class="white-text name">{{first_name}} {{last_name}}</span>
        <span class="white-text email">{{email}}</span>
      </div>
    </li>
    <li id="settings"><a href="#" class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
    <li id="bug-report"><a href="#bug-report-modal" class="waves-effect modal-trigger"><i class="material-icons">bug_report</i>Report a bug</a></li>
    <li id="about"><a href="#" class="waves-effect"><i class="material-icons">info</i>About Budgeteer</a></li>
    <li id="logout"><a href="{{url_for('auth.logout')}}" class="waves-effect"><i class="material-icons">vpn_key</i>Log Out</a></li>
  </ul>

	<!-- Main Nav -->
	<div class="navbar-fixed">
	  <nav class="yellow darken-4">
		<div class="nav-wrapper">
      <ul class="left">
			<li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
		  </ul>
			<div id="logo-container" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></div>
      <!-- <ul class="right">
        <li><a href="#"><i class="material-icons white-text">add</i></a></li>
      </ul> -->
		</div>
	  </nav>
	</div>

  <!-- Content -->
  <main>

    <!--Transaction Buttons-->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light orange darken-3 floater"><i class="material-icons">add</i></a>
      <ul>
        <li><a class="btn-floating red modal-trigger tooltipped" id="new-transaction-button" href="#transaction-modal" data-position="top" data-tooltip="Create transaction"><i class="material-icons">edit</i></a></li>
        <li><a class="btn-floating green darken-1 tooltipped modal-trigger" id="fill-envelopes-button" href="#envelope-fill-modal" data-position="top" data-tooltip="Fill envelopes"><i class="material-icons">input</i></a></li>
      </ul>
    </div>

    <div class="row content">

      <!--LEFT CONTENT-->
      <div class="col m12 l4 s12 left-content blue-grey">
        <div class="row" id="left-header">
          <div id="total-container" class="collection">
            <a id="total" class="row collection-item waves-effect" data-url="/get_home_transactions_page">
              <div class="col s4 valign-wrapper">
                <h4 class="blue-gray-text text-darken-4 bold">Total:</h4>
              </div>
              <div class="col s8 valign-wrapper">
                <h4><span class="{{'negative ' if total_funds < 0}}{{'neutral ' if (total_funds == 0)}}balance">{{total_funds|balanceformat}}</span></h4>
              </div>
            </a>
            <div id="unallocated" class="row collection-item">
              <div class="col s4 valign-wrapper">
                <h6 class="blue-gray-text text-darken-4 bold">Unallocated:</h6>
              </div>
              <div class="col s8 valign-wrapper">
                <h6><span id="unallocated-balance" class="{{'negative ' if unallocated_balance < 0}}{{'neutral ' if (unallocated_balance == 0)}}balance" data-amt="{{unallocated_balance}}">{{unallocated_balance|balanceformat}}</span></h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <ul class="tabs blue-grey lighten-5">
            <li class="tab col s6"><a class="active" href="#envelopes">Envelopes</a></li>
            <li class="tab col s6"><a href="#accounts">Accounts</a></li>
          </ul>
        </div>
        <div id="envelopes" class="col s12 hide">
          <a href="#envelope-editor-modal" class="btn orange waves-effect modal-trigger" id="edit-envelopes">Edit Envelopes</a>
            {% include 'envelopes.html'%}
        </div>
        <div id="accounts" class="col s12 hide">
          <a href="#account-editor-modal" class="btn orange waves-effect modal-trigger" id="edit-accounts">Edit Accounts</a>
            {% include 'accounts.html'%}
        </div>
      </div>


      <!-- RIGHT CONTENT -->
      <div class="col s12 m12 l8" id="dashboard-column">
        {% include 'dashboard_header.html' %}

        <div id="bin" class="hide">
          <form id="multi-delete-form" action="{{ url_for('main.multi_delete') }}" method="post">
            {% include 'transactions.html' %}
          </form> <!-- This may have to move within transactions.html when graph views are added later -->
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="flash-toasts" class="hidden">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </main>

  <div id="fullscreen-wrapper"></div>

  {% include 'envelope_editor.html' %}
  {% include 'account_editor.html' %}
  {% include 'transaction_builder.html' %}
  {% include 'transaction_editor.html' %}
  {% include 'envelope_filler.html' %}
  {% include 'delete_modal.html' %}
  {% include 'bug_report_modal.html' %}

  <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery-ui/dist/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery.tabbable/jquery.tabbable.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='node_modules/@materializecss/dist/js/materialize.min.js')}}"></script> -->
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/simplebar/dist/simplebar.min.js')}}"></script>
  <script src="https://unpkg.com/mathjs@11.9.1/lib/browser/math.js"></script>
  <script src="{{url_for('static', filename='js/gen_timestamp.js')}}"></script>
  <script src="{{url_for('static', filename='js/display_field_errors.js')}}"></script>
  <script src="{{url_for('static', filename='js/loading_spinner.js')}}"></script>
  <script src="{{url_for('static', filename='js/flash_toasts.js')}}"></script>
  <script src="{{url_for('static', filename='js/bug_report.js')}}"></script>
  <script src="{{url_for('static', filename='js/refresh_reconcile.js')}}"></script>
  <script src="{{url_for('static', filename='js/transaction_search.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='js/simpleScroll.js')}}"></script> -->
  <script src="{{url_for('static', filename='js/init.js')}}"></script>
  <script src="{{url_for('static', filename='js/formSelectWithIcon.js')}}"></script>
</body>
</html>