<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

  <!-- Side Nav -->
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{url_for('static', filename='img/user-background.jpg')}}">
      </div>
      <a href="#user"><img class="circle" src="{{url_for('static', filename='img/default-user-image.png')}}"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#" class="waves-effect"><i class="material-icons">assignment_ind</i>Personalize</a></li>
    <li><a href="#" class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="#" class="waves-effect"><i class="material-icons">live_help</i>Help & Feedback</a></li>
    <li><a href="#" class="waves-effect"><i class="material-icons">info</i>About Budgeteer</a></li>
  </ul>

	<!-- Main Nav -->
	<div class="navbar-fixed">
	  <nav class="yellow darken-4">
		<div class="nav-wrapper">
      <ul class="left">
			<li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
		  </ul>
			<a id="logo-container" href="{{url_for('home')}}" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></a>
      <ul class="right">
        <li><a href="#"><i class="material-icons white-text" id="new_plan">add</i></a></li>
      </ul>
		</div>
	  </nav>
	</div>

  <!-- Content -->
  <main>

    <div id="loading-div-div">
      <div id="loading-div">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Transaction Buttons-->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light orange darken-3 floater"><i class="material-icons">add</i></a>
      <ul>
        <li><a class="btn-floating red modal-trigger tooltipped" id="new-transaction-button" href="#transaction-modal" data-position="top" data-tooltip="Create transaction"><i class="material-icons">edit</i></a></li>
        <li><a class="btn-floating green darken-1 tooltipped modal-trigger" id="fill-envelopes-button" href="#envelope-fill-modal" data-position="top" data-tooltip="Fill envelopes"><i class="material-icons">input</i></a></li>
      </ul>
    </div>

    <div class="row content">

      <!--LEFT CONTENT-->
      <div class="col m12 l4 s12 left-content blue-grey">
        <div class="row" id="left-header">
          <div class="row" id="total">
            <h4 class="col s4 white-text bold">Total:</h4>
            <h4 class="col s8"><span class="{{'negative' if total_funds[0] == '-'}} balance">{{total_funds}}</span></h4>
          </div>
          <div class="row" id="unallocated">
            <h6 class="col s4 white-text bold">Unallocated:</h6>
            <h6 class="col s8"><span id="unallocated-balance" class="{{'negative' if envelopes_data[1].balance[0] == '-'}} balance">{{envelopes_data[1].balance}}</span></h6>
          </div>
        </div>

        <div class="row">
          <ul class="tabs blue-grey lighten-5">
            <li class="tab col s6"><a class="active" href="#envelopes">Envelopes</a></li>
            <li class="tab col s6"><a href="#accounts">Accounts</a></li>
          </ul>
        </div>
        <div id="envelopes" class="col s12 hide">
          <a href="#envelope-modal" class="btn orange waves-effect modal-trigger" id="edit-envelopes">Edit Envelopes</a>
            {% include 'envelopes.html'%}
        </div>
        <div id="accounts" class="col s12 hide">
          <a href="#account-modal" class="btn orange waves-effect modal-trigger" id="edit-accounts">Edit Accounts</a>
            {% include 'accounts.html'%}
        </div>
      </div>


      <!-- RIGHT CONTENT -->
      <div class="col s12 m12 l8" id="transactions-column">
        <form id="multi-delete-form" action="{{ url_for('multi_delete') }}" method="post">
          <div id="transaction-header" class="orange lighten-1 white-text">
            <div class="row" id="title-row">
              <div class="col s12 left-align">
                <h4 id="transaction-title" class="truncate"><span id="current-view">All Transactions</span> | <i id="page-total">{{current_total}}</i></h4>
              </div>
            </div>
            <div class="row" id="title-options-row">
              <div class="col s2 push-s10">
                <a id="multi-delete-submit">Delete</a>
              </div>
            </div>
          </div>
          <div id="bin">
            {% include 'transactions.html' %}
          </div>
        </div>
      </form>
    </div>
  </main>

  <div id="fullscreen-wrapper"></div>

  {% include 'envelope_editor.html' %}
  {% include 'account_editor.html' %}
  {% include 'transaction_builder.html' %}
  {% include 'transaction_editor.html' %}
  {% include 'envelope_filler.html' %}
  {% include 'delete_modal.html' %}

  <script src="{{url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.ui.touch-punch.js')}}"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/init.js')}}"></script>
</body>
</html>