<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/login.css')}}" type = text/css rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

    <!-- Main Nav -->
    <div class="navbar-fixed">
      <nav class="yellow darken-4">
        <div class="nav-wrapper">
          <div id="logo-container" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></div>
        </div>
      </nav>
    </div>

  <!-- Content -->
  <main>

    <div id="loading-div-div">
      <div id="loading-div">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row content">

      <div id="orange-div" class=" col l5 m12 main-content-col">
        <div class="row main-content-row valign-wrapper">
          <div class="col s12">
            <img id="budgeteer-main-logo" src="{{url_for('static',filename='img/Budgeteer_White_And_Red.png')}}"/>
          </div>
        </div>
      </div>

      <div class="col l6 offset-l1 m12 s12 main-content-col">
        <div class="row main-content-row valign-wrapper">
          <div class="container">
            <div id="login-card" class="card hoverable">
              <div class="card-content">

                <div class="row">
                  <span class="card-title"><h3>Welcome to Budgeteer!</h3></span>
                </div>

                <div class="divider"></div>

                <div class="row">
                  <h4>Log in</h4>
                </div>

                <form id="login-form" action="{{ url_for('api_login') }}" method="post" data-sitekey="{{reCAPTCHA_site_key}}">
                  {{ login_form.hidden_tag() }}
                  <div class='row'>
                    <div class='input-field col s12'>
                      {{login_form.email.label}}
                      {{login_form.email(class="validate")}}
                      <span class="helper-text red-text left-align"></span>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='input-field col s12'>
                      {{login_form.password.label}}
                      {{login_form.password(class="validate")}}
                      <span class="helper-text red-text left-align"></span>
                    </div>
                  </div>
                  <div class='row'>
                    <div class="col s12 m8 push-m2">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Log in</button>
                    </div>
                  </div>
                </form>

                <div class="row">
                  <div class="col s12">
                    <div class="section">
                      <a class="tiny modal-trigger" href="#forgot-password-modal">Forgot your password?</a>
                    </div>
                  </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                  <h6 class="activator" id="no-account">Don't have an account yet?</h6>
                </div>

              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i id="login-card-close" class="material-icons right">close</i></span>
                <div class="row">
                  <h4>Create your account</h4>
                </div>
                <form id="register-form" action="{{ url_for('register') }}" method="post" data-sitekey="{{reCAPTCHA_site_key}}">
                  {{ register_form.hidden_tag() }}
                  <div class="row">
                    <div class='input-field col s6'>
                      {{register_form.new_first_name.label}}
                      {{register_form.new_first_name(class="validate")}}
                      <span class="helper-text red-text left-align"></span>
                    </div>
                    <div class='input-field col s6'>
                      {{register_form.new_last_name.label}}
                      {{register_form.new_last_name(class="validate")}}
                      <span class="helper-text red-text left-align"></span>                    
                    </div>
                  </div>
                  <div class='row'>
                    <div class='input-field col s12'>
                      {{register_form.new_email.label}}
                      {{register_form.new_email(class="validate")}}
                      <span class="helper-text red-text left-align"></span>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='input-field col s12'>
                      {{register_form.new_password.label}}
                      {{register_form.new_password(class="validate")}}
                      <span class="helper-text red-text left-align"></span>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='input-field col s12'>
                      {{register_form.confirm_password.label}}
                      {{register_form.confirm_password(class="validate")}}
                      <span class="helper-text red-text left-align"></span>
                    </div>
                  </div>
                  <div class='row'>
                    <div class="col s12 m8 push-m2">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Register</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="forgot-password-modal" class="modal">
      <div class="modal-content center-align">
        <h3>Forgot Your Password?</h3>
        <div class="divider"></div>
        <p class="flow-text">It's okay! It happens to the best of us.</p>
        <p class="flow-text">Enter the email associated with your account below and we'll send you a link to reset your password.</p>
        <div class="divider"></div>
        <form id="forgot-password-form" action="{{ url_for('forgot_password') }}" method="post" data-sitekey="{{reCAPTCHA_site_key}}">
          {{ login_form.hidden_tag() }}
          <div class="row">
            <div class="row">
              <div class="input-field col m6 s12">
                <i class="material-icons prefix">mail</i>
                {{forgot_form.email.label}}
                {{forgot_form.email(id="reset-email", class="validate")}}
                <span id="forgot-password-email-error" class="helper-text"></span>
              </div>
              <div class="input-field col m6 s10 push-s1">
                <button class="btn waves-effect waves-light" type="submit" name="action">Reset Password<i class="material-icons right">send</i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="flash-toasts" class="hidden">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </main>

  <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery-ui/dist/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/login.js')}}"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{reCAPTCHA_site_key}}"></script>
</body>
</html>