{% for transaction in transactions_data %}
  <a class="collection-item">
    <li class="row transaction-row {% if transaction.date > transaction.date.now() %}pending{% endif %}">
      <div class="col s2 valign-wrapper transaction-date">
        <div class="date-bucket">
          <span class="long-date">{{transaction.date|datetimeformat}}</span><span class="short-date hide">{{transaction.date|datetimeformatshort}}</span>
        </div>
        <div class="checkbox-bucket">
          <label>
            <input name="delete" value="{{transaction.id}}" type="checkbox" class="delete-boxes filled-in">
            <span class="checkbox-special"></span>
          </label>
        </div>
      </div>
      <div class="transaction"
          data-id="{{transaction.id}}"
          data-name="{{transaction.name}}"
          data-type="{{transaction.type}}"
          data-date="{{transaction.date|datetimeformat}}"
          data-amt="{{transaction.amt}}"
          data-account_id="{{transaction.account_id}}"
          data-account_name = "{% if transaction.account_id is not none and transaction.type != 1 %}{{ accounts_data[transaction.account_id].name }}{% endif %}"
          data-envelope_id="{{transaction.envelope_id}}"
          data-envelope_name = "{% if transaction.envelope_id is not none and transaction.type != 2 %}{{ envelopes_data[transaction.envelope_id].name }}{% endif %}"
          data-grouping="{{transaction.grouping}}"
          data-note="{{transaction.note}}"
          data-schedule="{{transaction.schedule}}"
          data-status="{{transaction.status}}"
          data-user_id="{{transaction.user_id}}">

        <div class="col m1 hide-on-small-only valign-wrapper transaction-type"><i class="material-icons" title="{{t_type_dict[transaction.type]}}">{{t_type_icon_dict[transaction.type]}}</i></div>
        <div class="col s7 transaction-name left-align">
          <div class="row">
            <h5 class="truncate no-margin non-selectable">{{transaction.name}}</h5>
          </div>
          <div class="row valign-wrapper transaction-details">
            <i class="no-margin tiny truncate non-selectable
                  {% if transaction.type == 1 %}
                    {% if envelopes_data[transaction.envelope_id].deleted == true %}
                      strikethrough
                    {% endif %}
                  {% endif %}
                  {% if transaction.type == 2 %}
                    {% if accounts_data[transaction.envelope_id].deleted == true %}
                      strikethrough
                    {% endif %}
                  {% endif %}
                  {% if transaction.envelope_id is not none and transaction.type != 1 and transaction.type != 2 and transaction.type != 4 and transaction.type !=5 %}
                    {% if envelopes_data[transaction.envelope_id].deleted == true %}
                      strikethrough
                    {% endif %}
                  {% endif %}">
                      {% if transaction.type == 1 %}
                      <i class="material-icons tiny non-selectable">mail_outline</i>{{ envelopes_data[transaction.envelope_id].name }}
                      {% elif transaction.type == 2 %} {# Account transfer #}
                        <i class="material-icons tiny non-selectable">account_balance</i>{{ accounts_data[transaction.envelope_id].name}}
                      {% elif transaction.type == 4 %} {# Split transaction #}
                        <i class="material-icons tiny non-selectable">mail_outline</i>Multiple
                      {% elif transaction.type == 5%} {# Envelope fill #}
                        Unallocated distribution
                      {% else %}
                        <i class="material-icons tiny non-selectable">mail_outline</i>{{ envelopes_data[transaction.envelope_id].name }}
                      {% endif %}
                  </i>

                  {% if transaction.type == 1 or transaction.type == 2 %} {# Envelope or Account transfer #}
                    <i class="no-margin tiny non-selectable"><pre> -> </pre></i>
                  {% elif transaction.type == 0 or transaction.type == 3 or transaction.type == 4 %}
                    <i class="no-margin tiny non-selectable"><pre> / </pre></i> {# Basic transaction, income, or split transaction #}
                  {% endif %}

                  <i class="no-margin tiny truncate non-selectable 
                  {% if transaction.type == 1 %}
                    {% if envelopes_data[transaction.envelope_id].deleted == true %}
                      strikethrough
                    {% endif %}
                  {% endif %}
                  {% if transaction.account_id is not none and transaction.type != 1 and transaction.type != 4 and transaction.type !=5 %}
                    {% if accounts_data[transaction.account_id].deleted == true %}
                      strikethrough
                    {% endif %}
                  {% endif %}">

                    {% if transaction.type == 1 %} {# Envelope transfer #}
                      <i class="material-icons tiny non-selectable">mail_outline</i>{{ envelopes_data[transaction.account_id].name}}
                    {% elif transaction.account_id is not none %}
                      <i class="material-icons tiny non-selectable">account_balance</i>{{ accounts_data[transaction.account_id].name}}
                    {% endif %}
            </i>
          </div>
        </div>
        <div class="col s3 m2 transaction-amount valign-wrapper">
          <div class='row balance-row'>
            <span class="{{'neutral' if (transaction.amt == '$0.00') or ((transaction.type == 1 or transaction.type == 2 or transaction.type == 5 or transaction.type == 6 or transaction.type == 7) and current_page == 'All transactions')}} {{'negative' if transaction.amt[0] == '-'}}  balance non-selectable">{{transaction.amt}}</span>
          </div>
          <div class='row account-reconcile-row gone'>
            <span class="tiny">{{transaction.a_reconcile_bal}}</span>
          </div>
          <div class='row envelope-reconcile-row gone'>
            <span class="tiny">{{transaction.e_reconcile_bal}}</span>
          </div>
        <!-- <div class="col s1 valign-wrapper transaction-status"><i class="small material-icons">{{transaction.status}}</i></div> -->
        </div>
      </div>
    </li>
  </a>
{% endfor %}
