<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="{{url_for('static', filename='css/login.css')}}" type = text/css rel="stylesheet" media="screen,projection"/> -->
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

    <!-- Main Nav -->
    <div class="navbar-fixed">
      <nav class="yellow darken-4">
        <div class="nav-wrapper">
          <div id="logo-container" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></div>
        </div>
      </nav>
    </div>

  <main>

    <!-- Password Reset Form -->
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card" style="margin-top: 2em">
                <div class="card-content">
                    <span class="card-title"><b>Reset Password</b></span>
                    <form id="password-reset-form" method="POST">
                        <div class="input-field">
                            <input id="new_password" type="password" name="new_password" required>
                            <label for="new_password">New Password</label>
                        </div>
                        <div class="input-field">
                            <input id="confirm_password" type="password" name="confirm_password" required>
                            <label for="confirm_password">Confirm Password</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul id="flash-toasts" class="hidden">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

  </main>

  <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery-ui/dist/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/reset_password.js')}}"></script>

</body>
</html>