<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="{{url_for('static', filename='css/login.css')}}" type = text/css rel="stylesheet" media="screen,projection"/> -->
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

  <!-- Loading spinner overlay -->
  <div id="loading-div">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Nav -->
  <div class="navbar-fixed">
    <nav class="yellow darken-4">
      <div class="nav-wrapper">
        <div id="logo-container" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></div>
      </div>
    </nav>
  </div>

  <main>

    <!-- Password Reset Form -->
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card" style="margin-top: 2em">
                <div class="card-content">
                    <span class="card-title"><b>Reset Password</b></span>
                    <form id="password-reset-form" action="{{ url_for('auth.reset_password', token=token) }}"method="POST" data-sitekey="{{reCAPTCHA_site_key}}">
                        {{ reset_password_form.hidden_tag() }}  
                        <div class="input-field">
                            {{reset_password_form.new_password(id="new_password", class="validate")}}
                            {{reset_password_form.new_password.label}}
                            <span class="helper-text red-text left-align"></span>
                        </div>
                        <div class="input-field">
                          {{reset_password_form.confirm_password(id="confirm_password", class="validate")}}
                          {{reset_password_form.confirm_password.label}}
                          <span class="helper-text red-text left-align"></span>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul id="flash-toasts" class="hidden">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

  </main>

  <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery-ui/dist/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/reset_password.js')}}"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{reCAPTCHA_site_key}}"></script>

</body>
</html>