<div class="row new-envelope-row flex">
  <div class="col s1 valign-wrapper remove-envelope-button-col">
    <a href="#!" class="remove-envelope-button">
      <i class="material-icons orange-text text-lighten-3">delete</i>
    </a>
  </div>
  <div class="input-field col s5 addedEnvelope"><label>Envelope</label></div>
  <div class="input-field col s4 ">
    <input class="special-input negate-input" type="text" autocomplete="off" name="amount" required>
    <label for="amount">Amount</label>
    <span class="helper-text hidden" data-error="Required"></span>
  </div>
  <div class="col s2 valign-wrapper center-align amount-col">
    <span class="amount-span balance neutral">$0.00</span>
  </div>
</div>