<div id="transactions-bin">
  <ul class="collection table-header">
    <li class="row valign-wrapper collection-item left-align grey lighten-3">
      <div class="col s2 header transaction-date">Date</div>
      <div class="col m1 hide-on-small-only header transaction-type">Type</div>
      <div class="col s7 header transaction-name">Name</div>
      <div class="col s3 m2 header transaction-amount">Amount</div>
      <!-- <div class="col s1 header transaction-status">Status</div> -->
    </li>
  </ul>
  
  {% if transactions_data|length %}
    <ul id="transactions-scroller" class="collection scroller">
      {% for transaction in transactions_data %}
        <li class="row transaction-row collection-item waves-effect {% if transaction.pending == 1 %}pending{% endif %}">
          <div class="col s2 valign-wrapper transaction-date">
            <div class="date-bucket">
              <span class="long-date non-selectable">{{transaction.date|datetimeformat}}</span><span class="short-date hide non-selectable">{{transaction.date|datetimeformatshort}}</span>
            </div>
            <div class="checkbox-bucket">
              <label>
                <input name="delete" value="{{transaction.id}}" type="checkbox" class="t-delete-checkbox filled-in">
                <span class="checkbox-span"></span>
              </label>
            </div>
          </div>
          <div class="transaction"
              data-id="{{transaction.id}}"
              data-name="{{transaction.name}}"
              data-type="{{transaction.type.id}}"
              data-date="{{transaction.date|datetimeformat}}"
              data-amt="{{transaction.amt}}"
              data-account_id="{{transaction.account_id}}"
              data-account_name = "{% if transaction.account_id is not none and transaction.type != TType.ENVELOPE_TRANSFER %}{{ accounts_data[transaction.account_id].name }}{% endif %}"
              data-envelope_id="{{transaction.envelope_id}}"
              data-envelope_name = "{% if transaction.envelope_id is not none and transaction.type != TType.ACCOUNT_TRANSFER %}{{ envelopes_data[transaction.envelope_id].name }}{% endif %}"
              data-grouping="{{transaction.grouping}}"
              data-note="{{transaction.note}}"
              data-schedule="{{transaction.schedule}}"
              data-status="{{transaction.status}}"
              data-pending="{{transaction.pending}}"
              data-user_id="{{transaction.user_id}}">

            <div class="col m1 hide-on-small-only valign-wrapper transaction-type"><i class="material-icons" title="{{transaction.type.desc}}">{{transaction.type.icon}}</i></div>
            <div class="col s7 transaction-name left-align" title="{{transaction.note}}">
              <div class="row">
                <h5 class="truncate no-margin non-selectable">{{transaction.name}}</h5>
              </div>
              <div class="row valign-wrapper transaction-details">
                <i class="no-margin tiny truncate non-selectable
                {% if transaction.type == TType.ENVELOPE_TRANSFER %}
                  {% if envelopes_data[transaction.envelope_id].deleted == true %}
                    strikethrough
                  {% endif %}
                {% endif %}
                {% if transaction.type == TType.ACCOUNT_TRANSFER %}
                  {% if accounts_data[transaction.envelope_id].deleted == true %}
                    strikethrough
                  {% endif %}
                {% endif %}
                {% if transaction.envelope_id is not none and transaction.type != TType.ENVELOPE_TRANSFER and transaction.type != TType.ACCOUNT_TRANSFER and transaction.type != TType.SPLIT_TRANSACTION and transaction.type !=TType.ENVELOPE_FILL %}
                  {% if envelopes_data[transaction.envelope_id].deleted == true %}
                    strikethrough
                  {% endif %}
                {% endif %}">
                    {% if transaction.type == TType.ENVELOPE_TRANSFER %}
                      <i class="material-icons tiny non-selectable">mail_outline</i>{{ envelopes_data[transaction.envelope_id].name }}
                    {% elif transaction.type == TType.ACCOUNT_TRANSFER %}
                      <i class="material-icons tiny non-selectable">account_balance</i>{{ accounts_data[transaction.envelope_id].name}}
                    {% elif transaction.type == TType.SPLIT_TRANSACTION %}
                      <i class="material-icons tiny non-selectable">mail_outline</i>Multiple
                    {% elif transaction.type == TType.ENVELOPE_FILL%}
                      Unallocated distribution
                    {% elif transaction.type == TType.ACCOUNT_DELETE %}
                      <!-- Nothing here -->
                    {% else %}
                      <i class="material-icons tiny non-selectable">mail_outline</i>{{ envelopes_data[transaction.envelope_id].name }}
                    {% endif %}
                </i>

                {% if transaction.type == TType.ENVELOPE_TRANSFER or transaction.type == TType.ACCOUNT_TRANSFER %}
                  <i class="no-margin tiny non-selectable"><pre> -> </pre></i>
                {% elif transaction.type == TType.BASIC_TRANSACTION or transaction.type == TType.INCOME or transaction.type == TType.SPLIT_TRANSACTION or transaction.type == TType.ACCOUNT_ADJUST %}
                  <i class="no-margin tiny non-selectable"><pre> / </pre></i>
                {% endif %}

                <i class="no-margin tiny truncate non-selectable 
                {% if transaction.type == TType.ENVELOPE_TRANSFER %}
                  {% if envelopes_data[transaction.envelope_id].deleted == true %}
                    strikethrough
                  {% endif %}
                {% endif %}
                {% if transaction.account_id is not none and transaction.type != TType.ENVELOPE_TRANSFER and transaction.type != TType.SPLIT_TRANSACTION and transaction.type != TType.ENVELOPE_FILL %}
                  {% if accounts_data[transaction.account_id].deleted == true %}
                    strikethrough
                  {% endif %}
                {% endif %}">

                  {% if transaction.type == TType.ENVELOPE_TRANSFER %}
                    <i class="material-icons tiny non-selectable">mail_outline</i>{{ envelopes_data[transaction.account_id].name}}
                  {% elif transaction.account_id is not none %}
                    <i class="material-icons tiny non-selectable">account_balance</i>{{ accounts_data[transaction.account_id].name}}
                  {% endif %}

                </i>
              </div>
            </div>
            
            {% if current_page == 'Search results' %}
              <div class="col s3 m2 transaction-amount valign-wrapper">
                <div class='row balance-row'>
                  <span class="{{'neutral' if (transaction.amt == 0) or ((transaction.type == TType.ENVELOPE_TRANSFER or transaction.type == TType.ACCOUNT_TRANSFER or transaction.type == TType.ENVELOPE_FILL or transaction.type == TType.ENVELOPE_DELETE))}} {{'negative' if transaction.amt < 0}} balance non-selectable">{{transaction.amt|balanceformat}}</span>
                </div>
              </div>
            {% else %}
              <div class="col s3 m2 transaction-amount">
                <div class='row balance-row'>
                  <span class="{{'neutral ' if (transaction.amt == 0) or ((transaction.type == TType.ENVELOPE_TRANSFER or transaction.type == TType.ACCOUNT_TRANSFER or transaction.type == TType.ENVELOPE_FILL or transaction.type == TType.ENVELOPE_DELETE) and current_page == 'All Transactions')}}{{'negative ' if transaction.amt < 0}}balance non-selectable">{{transaction.amt|balanceformat}}</span>
                </div>
                <div class='row reconcile-row'>
                  <span class="tiny reconcile-span">$0.00</span>
                </div>
              </div>
            {% endif %}

          </div>
        </li>
      {% endfor %}
      {% if at_end == False %}
        <a id="load-more" href="#!" data-offset="{{offset}}"><span >Load more transactions</span></a>
      {% endif %}
    {% else %}
      <ul class="collection">
        <li class="row collection-item">
          <h5 style="margin: .5em 0">
            {% if empty_message %}{{ empty_message }}{% else %}There aren't any transactions here yet!{% endif %}
          </h5>
        </li>
      </ul>
    </ul>
  {% endif %}
</div>
