<div class="row new-envelope-row flex">
  <div class="input-field col s6 addedEnvelope"><label>Envelope</label></div>
  <div class="input-field col s5 input-field">
    <input id="amount" required class="validate" type="number" step=".01" name="amount" pattern="^[-]?([1-9]{1}[0-9]{0,}(\\.[0-9]{0,2})?|0(\\.[0-9]{0,2})?|\\.[0-9]{1,2})$" />
    <label for="amount-">Amount</label>
    <span class="helper-text" data-error="Please enter a numeric value"></span>
  </div>
  <div class="col s1 valign-wrapper remove-envelope-button-col">
    <a href="#!" class="remove-envelope-button">
      <i class="material-icons grey-text">delete</i>
    </a>
  </div>
</div>