<div id="transaction-modal" class="modal">
  <div class="modal-content">
    <div class="row">

      <ul class="tabs" id="type-tabs">
        <li class="tab col s4"><a href="#expense" class="active">Expense</a></li>
        <li class="tab col s4"><a href="#transfer">Transfer</a></li>
        <li class="tab col s4"><a href="#income">Income</a></li>
      </ul>

      <!--Expense/Credit tab-->
      <div id="expense" class="col s12">
        <h3>Expense</h3>
        <div class="row">
          <form class="col s12" id="new-expense-form" action="{{ url_for('main.new_expense') }}" data-remain-open ="0" method="post">
            {{ new_expense_form.hidden_tag() }}
            <div class="row">
              <div class="input-field col s12" style="margin-top: 0px;">
                {{new_expense_form.name.label}}
                {{new_expense_form.name}}
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div id="envelopes-and-amounts">
              <div class="row flex" id="envelope-selector-row">
                <div class="input-field col s6">
                  <select class="envelope-selector" name="envelope_id" required>
                    {% include 'envelope_select_options.html' %}
                  </select>
                  <label>Envelope</label>
                  <span class="helper-text red-text left-align"></span>
                </div>
                <div class="input-field col s4 ">
                  <input class="special-input negate-input" type="text" autocomplete="off" name="amount" required>
                  <label for="amount">Amount</label>
                  <span class="helper-text hidden" data-error="Required"></span>
                </div>
                <div class="col s2 valign-wrapper center-align amount-col">
                  <span class="amount-span balance neutral">$0.00</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 right-align">
                <a href="#!" id="add-envelope" class="tiny">+ Add Another Envelope</a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <select name="account_id" class="account-selector" required>
                  {% include 'account_select_options.html' %}
                </select>
                <label>Account</label>
                <span class="helper-text red-text left-align"></span>
              </div>
              <div class="input-field col s6">
                <input type="text" class="datepicker datepicker-with-schedule validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
            </div>

            <div class="row">

              <div class="input-field col s10">
                <input type="text" placeholder="(Optional)" name="note">
                <label for="note">Note</label>
              </div>

              <div class="col s2 no-padding">

                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>

                <div class="row">
                  <label for="expense-schedule">
                    <input id="expense-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-span scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule" class="schedule-select">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message grey-text"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 submit-and-new" type="submit" name="action" href="#!">Submit & New</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <!--Transfer tab-->
      <div id="transfer" class="col s12">
        <h3>Transfer</h3>
        <div class="row">

          <form class="col s12" id="new-transfer-form" action="{{ url_for('main.new_transfer') }}" data-remain-open ="0" method="post">
            {{ new_transfer_form.hidden_tag()}}
            <div class="row">
              <div class="input-field col s12"  style="margin-top: 0px;">
                {{new_transfer_form.name.label}}
                {{new_transfer_form.name}}
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select class="div-toggle" data-target="#transfer-toggler-builder" name="transfer_type" required>
                  <option value="1" data-show="#envelope-transfer-build">Envelope Transfer</option>
                  <option value="2" data-show="#account-transfer-build">Account Transfer</option>
                </select>
                <label>Type</label>
              </div>
            </div>

            <div id="transfer-toggler-builder">

              <div id="account-transfer-build">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="from_account" class="account-selector" required>
                      {% include 'account_select_options.html' %}
                    </select>
                    <label>From</label>
                    <span class="helper-text red-text left-align"></span>
                  </div>
                  <div class="input-field col s6">
                    <select name="to_account" class="account-selector" required>
                      {% include 'account_select_options.html' %}
                    </select>
                    <label>To</label>
                    <span class="helper-text red-text left-align"></span>
                  </div>
                </div>
              </div>

              <div id="envelope-transfer-build">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="from_envelope" class="envelope-selector" required>
                      {% include 'envelope_select_options.html' %}
                    </select>
                    <label>From</label>
                    <span class="helper-text red-text left-align"></span>
                  </div>
                  <div class="input-field col s6">
                    <select name="to_envelope" class="envelope-selector" required>
                      {% include 'envelope_select_options.html' %}
                    </select>
                    <label>To</label>
                    <span class="helper-text red-text left-align"></span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row flex">
              <div class="input-field col s6 ">
                <input type="text" class="datepicker datepicker-with-schedule validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
              <div class="input-field col s4 ">
                <input class="special-input" type="text" autocomplete="off" name="amount" required>
                <label for="amount">Amount</label>
                <span class="helper-text hidden" data-error="Required"></span>
              </div>
              <div class="col s2 valign-wrapper center-align amount-col">
                <span class="amount-span balance neutral">$0.00</span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input type="text" placeholder="(Optional)" name="note">
                <label for="note">Note</label>
              </div>
              <div class="col s2 no-padding">
                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>
                <div class="row">
                  <label for="transfer-schedule">
                    <input id="transfer-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-span scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule" class="schedule-select">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message grey-text"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 submit-and-new" type="submit" name="action" href="#!">Submit & New</button>
              </div>
            </div>

          </form>

        </div>
      </div>

      <!--Income tab-->
      <div id="income" class="col s12">
        <h3>Income</h3>

        <div class="row">
          <form class="col s12" id="new-income-form" action="{{ url_for('main.new_income') }}" data-remain-open ="0" method="post">
            {{ new_income_form.hidden_tag() }}
            <div class="row">
              <div class="input-field col s12" style="margin-top: 0px;">
                {{new_income_form.name.label}}
                {{new_income_form.name}}
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select name="account_id" class="account-selector" required>
                  {% include 'account_select_options.html' %}
                </select>
                <label>Account</label>
                <span class="helper-text red-text left-align"></span>
              </div>
            </div>

            <div class="row flex">
              <div class="input-field col s6 ">
                <input type="text" class="datepicker datepicker-with-schedule validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
              <div class="input-field col s4 ">
                <input class="special-input" type="text" autocomplete="off" name="amount" required>
                <label for="amount">Amount</label>
                <span class="helper-text hidden" data-error="Required"></span>
              </div>
              <div class="col s2 valign-wrapper center-align amount-col">
                <span class="amount-span balance neutral">$0.00</span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input type="text" placeholder="(Optional)" name="note">
                <label for="note">Note</label>
              </div>

              <div class="col s2 no-padding">

                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>

                <div class="row">
                  <label for="income-schedule">
                    <input id="income-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-span scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule" class="schedule-select">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message grey-text"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 submit-and-new" type="submit" name="action" href="#!">Submit & New</button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>