<div id="editor-modal" class="modal">
  <div class="modal-content">
    <div id="editor-row" class="row">

      <!-- Edit expense/credit tab -->
      <div class="col s12" id="edit-expense">
        <h3>Edit Transaction</h3>
        <div class="row">
          <form class="col s12" id="edit-expense-form" action="{{ url_for('edit_transaction') }}" method="post">

            <div class="row">
              <div class="input-field col s12">
                <input id="edit-name" class="validate" type="text" name="name" required>
                <label for="edit-name">Name</label>
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div id="edit-envelopes-and-amounts">
              <div class="row" id="edit-envelope-selector-row">
                <div class="input-field col s6">
                  <select id="edit-envelope_id" class="envelope-selector" name="envelope_id" required>
                    <option value="" disabled selected>Choose an Envelope</option>
                    {% for id, envelope in envelopes_data.items() %}
                        {% if envelope.deleted == false and envelope.id != 1 %}
                          <option value="{{envelope.id}}">{{envelope.name}}  {{envelope.balance}}</option>
                        {% endif %}
                    {% endfor %}
                  </select>
                  <label class="no-active">Envelope</label>
                </div>
                <div class="input-field col s6 ">
                  <input id="edit-amount" class="validate" type="text" name="amount" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                  <label for="edit-amount" class="active">Amount</label>
                  <span class="helper-text" data-error="Please enter a numeric value"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 right-align">
                <a href="#!" id="edit-add-envelope" class="tiny">+ Add Another Envelope</a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <select id="edit-account_id" class="account-selector" name="account_id" required>
                  <option value="" disabled selected>Choose an Account</option>
                  {% for id, account in accounts_data.items() %}
                    {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                  {% endfor %}
                </select>
                <label class="no-active">Account</label>
              </div>
              <div class="input-field col s6 ">
                <input id="edit-date" type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="edit-date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input id="edit-note" type="text" name="note">
                <label for="edit-note" class="active">Note</label>
              </div>
              <div class="col s2 no-padding">
                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>
                <div class="row">
                  <label for="edit-expense-schedule">
                    <input id="edit-expense-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-special scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div id="transfer-schedule-content" class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="Anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message gray"></p>
              </div>
            </div>

            <div class="row button-row">
              <div class="col s6">
                <input id="edit-id" name="edit-id" type="hidden" required>
                <input id="type" name="type" type="hidden" required>
                <button class="btn waves-effect waves-light yellow darken-4" type="submit" name="action" href="#!">Update</button>
              </div>
            </form>

            <form action="{{ url_for('delete_transaction_page') }}" class="deleter-form" method="post">
              <div class="col s6">
                <input id="dtid" name="delete-id" type="hidden" required>
                <button type="submit" id="delete-transaction-button" class="btn waves-effect waves-light red darken-3">DELETE</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!--Edit transfer tab-->
      <div id="edit-transfer" class="col s12">
        <h3>Edit Transfer</h3>
        <div class="row">

          <form class="col s12" id="edit-transfer-form" action="{{ url_for('edit_transaction') }}" method="post">

            <div class="row">
              <div class="input-field col s12">
                <input id="edit-name" class="validate" type="text" name="name" required>
                <label for="edit-name">Name</label>
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select id="edit-transfer_type"class="div-toggle" data-target=".transfer-toggler" name="transfer_type" required>
                  <option value="1" data-show=".envelope-transfer">Envelope Transfer</option>
                  <option value="2" data-show=".account-transfer">Account Transfer</option>
                </select>
                <label class="no-active">Type</label>
              </div>
            </div>

            <div class="transfer-toggler">

              <div class="account-transfer">
                <div class="row">
                  <div class="input-field col s6">
                    <select id="edit-to_account" class="account-selector" name="to_account">
                      <option value="" disabled selected>Choose an Account</option>
                      {% for id, account in accounts_data.items() %}
                        {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                      {% endfor %}
                    </select>
                    <label class="no-active">From</label>
                  </div>
                  <div class="input-field col s6">
                    <select id="edit-from_account" class="account-selector" name="from_account">
                      <option value="" disabled selected>Choose an Account</option>
                      {% for id, account in accounts_data.items() %}
                        {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                      {% endfor %}
                    </select>
                    <label class="no-active">To</label>
                  </div>
                </div>
              </div>

              <div class="envelope-transfer">
                <div class="row">
                  <div class="input-field col s6">
                    <select id="edit-to_envelope" class="envelope-selector" name="to_envelope">
                      <option value="" disabled selected>Choose an Envelope</option>
                      {% for id, envelope in envelopes_data.items() %}
                        {% if envelope.deleted == false and envelope.id != 1 %}
                          <option value="{{envelope.id}}">{{envelope.name}}  {{envelope.balance}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label class="no-active">From</label>
                  </div>
                  <div class="input-field col s6">
                    <select id="edit-from_envelope" class="envelope-selector" name="from_envelope">
                      <option value="" disabled selected>Choose an Envelope</option>
                      {% for id, envelope in envelopes_data.items() %}
                        {% if envelope.deleted == false and envelope.id != 1 %}
                          <option value="{{envelope.id}}">{{envelope.name}}  {{envelope.balance}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label class="no-active">To</label>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="input-field col s6 ">
                <input id="edit-date" type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="edit-date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
              <div class="input-field col s6 ">
                <input id="edit-amount" class="validate" type="text" name="amount" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                <label for="edit-amount">Amount</label>
                <span class="helper-text" data-error="Please enter a numeric value"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input id="edit-note" type="text" placeholder="(Optional)" name="note">
                <label for="edit-note">Note</label>
              </div>
              <div class="col s2 no-padding">
                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>
                <div class="row">
                  <label for="edit-income-schedule">
                    <input id="edit-income-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-special scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div id="transfer-schedule-content" class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="Anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message gray"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <input id="edit-id" name="edit-id" type="hidden" required>
                <input id="type" name="type" type="hidden" required>
                <button id="editor-submit-button" class="btn waves-effect waves-light yellow darken-4" type="submit" name="action" href="#!">Update</button>
              </div>

            </form>

            <form action="{{ url_for('delete_transaction_page') }}" class="deleter-form" method="post">
              <div class="col s6">
                <input id="dtid" name="delete-id" type="hidden" required>
                <button type="submit" id="delete-transaction-button" class="btn waves-effect waves-light red darken-3">DELETE</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!--Edit income tab-->
      <div id="edit-income" class="col s12">
        <h3>Edit Income</h3>

        <div class="row">
          <form class="col s12" id="edit-income-form" action="{{ url_for('edit_transaction') }}" method="post">

            <div class="row">
              <div class="input-field col s12">
                <input id="edit-name" class="validate" type="text" name="name" required>
                <label for="edit-name">Name</label>
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select id="edit-account_id" class="account-selector" name="account_id" required>
                  <option value="" disabled selected>Choose an Account</option>
                  {% for id, account in accounts_data.items() %}
                    {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                  {% endfor %}
                </select>
                <label class="no-active">Account</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 ">
                <input id="edit-date" type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="edit-date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
              <div class="input-field col s6 ">
                <input id="edit-amount" class="validate" type="text" name="amount" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                <label for="edit-amount">Amount</label>
                <span class="helper-text" data-error="Please enter a numeric value"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input id="edit-note" type="text" placeholder="(Optional)" name="note">
                <label for="edit-note">Note</label>
              </div>
              <div class="col s2 no-padding">
                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>
                <div class="row">
                  <label for="edit-envelope-fill-schedule">
                    <input id="edit-envelope-fill-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-special scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div id="transfer-schedule-content" class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="Anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message gray"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <input id="edit-id" name="edit-id" type="hidden" required>
                <input id="type" name="type" type="hidden" required>
                <button class="btn waves-effect waves-light yellow darken-4" type="submit" name="action" href="#!">Update</button>
              </div>

            </form>

            <form action="{{ url_for('delete_transaction_page') }}" class="deleter-form" method="post">
              <div class="col s6">
                <input id="dtid" name="delete-id" type="hidden" required>
                <button type="submit" id="delete-transaction-button" class="btn waves-effect waves-light red darken-3">DELETE</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!--Edit envelope fill tab-->
      <div class="col s12" id="edit-envelope-fill">

        <h3>Fill Envelopes</h3>

        <form id="edit-envelope-fill-form" action="{{ url_for('edit_transaction') }}" method="post">

          <div class="row">
            <div class="input-field col s6">
              <input id="edit-name" class="validate" type="text" name="name" required>
              <label for="edit-name">Name</label>
              <span class="helper-text" data-error="Transaction name required"></span>
            </div>
            <div class="input-field col s6">
              <input id="edit-date" type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
              <label for="edit-date">Date</label>
              <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
            </div>
          </div>

          <div class="row">
            <div class="col s6">
              <h6>Unallocated:</h6>
              <h6><span id="edit-unallocated-balance-envelope-filler" class="{{'negative' if envelopes_data[1].balance[0] == '-'}} balance">{{envelopes_data[1].balance}}</span></h6>
            </div>
            <div class="col s6">
              <h6>Fill total:</h6>
              <h6><span id="edit-fill-total" class="balance">$0.00</span></h6>
            </div>
          </div>

          <div class="row">
            <ul class="collection">
              <div class="envelope-fill-editor-bin">
                <li class="row collection-item left-align grey lighten-3">
                  <div class="col s5 header offset-s1 left-align">Name</div>
                  <div class="col s3 header envelope-budget">Amount</div>
                  <div class="col s3 header envelope-balance">Balance</div>
                </li>
                {% if active_envelopes == false%}
                  <div class="row collection-item">
                    <h5 class="no-margin no-message">You don't have any envelopes yet!</h5>
                  </div>
                {% else %}
                  {% for id, envelope in envelopes_data.items() %}
                    {% if envelope.deleted == false and envelope.id != 1 %}
                      <li class="row envelope-row collection-item flex">
                        <div class="col s1 valign-wrapper envelope-icon editor-col"><i class="material-icons">mail_outline</i></div>
                        <div class="col s5 valign-wrapper envelope-name left-align editor-col input-field">
                          <h5 class="truncate no-margin">{{envelope.name}}</h5>
                          <input type="hidden" value={{envelope.id}} name="envelope_id">
                        </div>
                        <div class="col s3 envelope-budget editor-col input-field">
                          <input class="validate" type="text" value="0.00" name="fill-amount" data-envelope-id="{{envelope.id}}" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                          <span class="helper-text" data-error="Please enter a numeric value"></span>
                        </div>
                        <div class="col s3 valign-wrapper envelope-balance editor-col">
                          <span class="{{'negative' if envelope.balance[0] == '-'}} balance">{{envelope.balance}}</span>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            </ul>
          </div>

          <div class="row">
            <div class="input-field col s10">
              <input id="edit-note" type="text" placeholder="(Optional)" name="note">
              <label for="edit-note">Note</label>
            </div>
            <div class="col s2 no-padding">
              <div class="row">
                <h6 class="schedule-label">Scheduled?</h6>
              </div>
              <div class="row">
                <label for="edit-envelope-fill-schedule">
                  <input id="edit-envelope-fill-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                  <span class="checkbox-special scheduler"></span>
                </label>
              </div>
            </div>
          </div>

          <div id="transfer-schedule-content" class="row schedule-content">
            <div class="col s6 input-field">
              <select name="schedule">
                <option value="daily" selected>Daily</option>
                <option value="weekly">Weekly</option>
                <option value="biweekly">Biweekly</option>
                <option value="monthly">Monthly</option>
                <option value="endofmonth">End of Month</option>
                <option value="semianually">Semianually</option>
                <option value="Anually">Anually</option>
              </select>
              <label>Frequency</label>
            </div>
            <div class="col s6">
              <p class="schedule-message gray"></p>
            </div>
          </div>

          <div class="row">
            <div class="col s6">
              <input id="edit-id" name="edit-id" type="hidden" required>
              <input id="type" name="type" type="hidden" required>
              <button class="btn waves-effect waves-light yellow darken-4" name="action" type="submit" href="#!">Update</button>
            </div>
          </form>

          <form action="{{ url_for('delete_transaction_page') }}" class="deleter-form" method="post">
            <div class="col s6">
              <input id="dtid" name="delete-id" type="hidden" required>
              <button type="submit" id="delete-transaction-button" class="btn waves-effect waves-light red darken-3">DELETE</button>
            </div>
          </form>
          </div>
      </div>

    </div>
  </div>
</div>