<ul class="collection" id="transactions-bin">
  <li class="row valign-wrapper collection-item left-align grey lighten-3">
    <div class="col s2 header transaction-date">Date</div>
    <div class="col m1 hide-on-small-only header transaction-type">Type</div>
    <div class="col s7 header transaction-name">Name</div>
    <div class="col s3 m2 header transaction-amount">Amount</div>
    <!-- <div class="col s1 header transaction-status">Status</div> -->
  </li>
  {% if transactions_data|length %}
    <div class="scroller">
      {% for transaction in transactions_data %}
        <a class="collection-item">
          <li class="row transaction-row {% if transaction.schedule is not none %}pending{% endif %}">
            <div class="col s2 valign-wrapper transaction-date">
              <div class="date-bucket">
                <span class="long-date">{{transaction.date|datetimeformat}}</span><span class="short-date hide">{{transaction.date|datetimeformatshort}}</span>
              </div>
              <div class="checkbox-bucket">
                <label>
                  <input name="delete" value="{{transaction.id}}" type="checkbox" class="delete-boxes filled-in">
                  <span class="checkbox-special"></span>
                </label>
              </div>
            </div>
            <div class="transaction" data-id="{{transaction.id}}" data-name="{{transaction.name}}" data-type="{{transaction.type}}" data-date="{{transaction.date|datetimeformat}}" data-amt="{{transaction.amt}}" data-account_id="{{transaction.account_id}}" data-account_name = "{% if transaction.account_id is not none %}{{ accounts_data[transaction.account_id].name }}{% endif %}" data-envelope_id="{{transaction.envelope_id}}" data-envelope_name = "{% if transaction.envelope_id is not none %}{{ envelopes_data[transaction.envelope_id].name }}{% endif %}" data-grouping="{{transaction.grouping}}" data-note="{{transaction.note}}" data-schedule="{{transaction.schedule}}" data-status="{{transaction.status}}" data-user_id="{{transaction.user_id}}">
              <div class="col m1 hide-on-small-only valign-wrapper transaction-type"><i class="material-icons" title="{{t_type_dict[transaction.type]}}">{{t_type_dict2[transaction.type]}}</i></div>
              <div class="col s7 transaction-name left-align">
                <div class="row">
                  <h5 class="truncate no-margin">{{transaction.name}}</h5>
                </div>
                <div class="row valign-wrapper transaction-details">
                  <i class="no-margin tiny {% if transaction.envelope_id is not none and transaction.type != 4 and transaction.type !=5 %}{% if envelopes_data[transaction.envelope_id].deleted == true %}strikethrough{% endif %}{% endif %}">{% if transaction.envelope_id is not none and transaction.type != 4 and transaction.type != 5%}{{ envelopes_data[transaction.envelope_id].name }}{% endif %}{% if transaction.type == 4 %}Multiple{% elif transaction.type == 5%}Unallocated distribution{% endif %}</i>{% if transaction.envelope_id is not none and transaction.account_id is not none %}<i class="no-margin tiny"><pre> / </pre></i>{% endif %}<i class="no-margin tiny {% if transaction.account_id is not none%}{% if accounts_data[transaction.account_id].deleted == true %}strikethrough{% endif %}{% endif %}">{% if transaction.account_id is not none %}{{ accounts_data[transaction.account_id].name }}{% endif %}</i>
                </div>
              </div>
              <div class="col s3 m2 valign-wrapper transaction-amount"><span class="{{'negative' if transaction.amt[0] == '-'}}  balance">{{transaction.amt}}</span></div>
              <!-- <div class="col s1 valign-wrapper transaction-status"><i class="small material-icons">{{transaction.status}}</i></div> -->
            </div>
          </li>
        </a>
      {% endfor %}
      {% if limit == False %}
        <a id="load-more" href="#!" data-offset="{{offset}}"><span >Load more transactions</span></a>
      {% endif %}
    </div>
  {% else %}
    <h5 style="margin: .5em 0">Whoops! There aren't any transactions here yet!</h5>
  {% endif %}
</ul>
