<div id="transaction-modal" class="modal">
  <div class="modal-content">
    <div class="row">

      <ul class="tabs" id="type-tabs">
        <li class="tab col s4"><a href="#expense" class="active">Expense</a></li>
        <li class="tab col s4"><a href="#transfer">Transfer</a></li>
        <li class="tab col s4"><a href="#income">Income</a></li>
      </ul>

      <!--Expense/Credit tab-->
      <div id="expense" class="col s12">
        <h3>Expense</h3>
        <div class="row">
          <form class="col s12" id="new-expense-form" action="{{ url_for('new_expense') }}" data-remain-open ="0" method="post">
            <div class="row">
              <div class="input-field col s12">
                <input class="validate" type="text" name="name" required>
                <label for="name">Name</label>
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div id="envelopes-and-amounts">
              <div class="row" id="envelope-selector-row">
                <div class="input-field col s6">
                  <select class="envelope-selector" name="envelope_id" required>
                    <option value="" disabled selected>Choose an Envelope</option>
                    {% for id, envelope in envelopes_data.items() %}
                      {% if envelope.deleted == false and envelope.id != 1 %}
                        <option value="{{envelope.id}}">{{envelope.name}}  {{envelope.balance}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <label>Envelope</label>
                </div>
                <div class="input-field col s6 ">
                  <input class="validate" type="number" step=".01" autocomplete="off" name="amount" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                  <label for="amount">Amount</label>
                  <span class="helper-text" data-error="Please enter a numeric value"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 right-align">
                <a href="#!" id="add-envelope" class="tiny">+ Add Another Envelope</a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <select name="account_id" class="account-selector" required>
                  <option value="" disabled selected>Choose an Account</option>
                  {% for id, account in accounts_data.items() %}
                    {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                  {% endfor %}
                </select>
                <label>Account</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
            </div>

            <div class="row">

              <div class="input-field col s10">
                <input type="text" placeholder="(Optional)" name="note">
                <label for="note">Note</label>
              </div>

              <div class="col s2 no-padding">

                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>

                <div class="row">
                  <label for="expense-schedule">
                    <input id="expense-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-special scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule" class="schedule-select">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message grey-text"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 submit-and-new" type="submit" name="action" href="#!">Submit & New</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <!--Transfer tab-->
      <div id="transfer" class="col s12">
        <h3>Transfer</h3>
        <div class="row">

          <form class="col s12" id="new-transfer-form" action="{{ url_for('new_transfer') }}" data-remain-open ="0" method="post">

            <div class="row">
              <div class="input-field col s12">
                <input class="validate" type="text" name="name" required>
                <label for="name">Name</label>
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select class="div-toggle" data-target="#transfer-toggler-builder" name="transfer_type" required>
                  <option value="1" data-show="#envelope-transfer-build">Envelope Transfer</option>
                  <option value="2" data-show="#account-transfer-build">Account Transfer</option>
                </select>
                <label>Type</label>
              </div>
            </div>

            <div id="transfer-toggler-builder">

              <div id="account-transfer-build">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="from_account" class="account-selector" required>
                      <option value="" disabled selected>Choose an Account</option>
                      {% for id, account in accounts_data.items() %}
                       {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                      {% endfor %}
                    </select>
                    <label>From</label>
                  </div>
                  <div class="input-field col s6">
                    <select name="to_account" class="account-selector" required>
                      <option value="" disabled selected>Choose an Account</option>
                      {% for id, account in accounts_data.items() %}
                        {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                      {% endfor %}
                    </select>
                    <label>To</label>
                  </div>
                </div>
              </div>

              <div id="envelope-transfer-build">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="from_envelope" class="envelope-selector" required>
                      <option value="" disabled selected>Choose an Envelope</option>
                      {% for id, envelope in envelopes_data.items() %}
                        {% if envelope.deleted == false and envelope.id != 1 %}
                          <option value="{{envelope.id}}">{{envelope.name}}  {{envelope.balance}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label>From</label>
                  </div>
                  <div class="input-field col s6">
                    <select name="to_envelope" class="envelope-selector" required>
                      <option value="" disabled selected>Choose an Envelope</option>
                      {% for id, envelope in envelopes_data.items() %}
                        {% if envelope.deleted == false and envelope.id != 1 %}
                          <option value="{{envelope.id}}">{{envelope.name}}  {{envelope.balance}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label>To</label>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="input-field col s6 ">
                <input type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
              <div class="input-field col s6 ">
                <input class="validate" type="number" step=".01" autocomplete="off" name="amount" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                <label for="amount">Amount</label>
                <span class="helper-text" data-error="Please enter a numeric value"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input type="text" placeholder="(Optional)" name="note">
                <label for="note">Note</label>
              </div>
              <div class="col s2 no-padding">
                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>
                <div class="row">
                  <label for="transfer-schedule">
                    <input id="transfer-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-special scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule" class="schedule-select">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message grey-text"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 submit-and-new" type="submit" name="action" href="#!">Submit & New</button>
              </div>
            </div>

          </form>

        </div>
      </div>

      <!--Income tab-->
      <div id="income" class="col s12">
        <h3>Income</h3>

        <div class="row">
          <form class="col s12" id="new-income-form" action="{{ url_for('new_income') }}" data-remain-open ="0" method="post">
            <div class="row">
              <div class="input-field col s12">
                <input class="validate" type="text" name="name" required>
                <label for="name">Name</label>
                <span class="helper-text" data-error="Transaction name required"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select name="account_id" class="account-selector" required>
                  <option value="" disabled selected>Choose an Account</option>
                  {% for id, account in accounts_data.items() %}
                    {% if account.deleted == false%}<option value="{{account.id}}">{{account.name}}  {{account.balance}}</option>{% endif %}
                  {% endfor %}
                </select>
                <label>Account</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 ">
                <input type="text" class="datepicker validate" name="date" required pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})$">
                <label for="date">Date</label>
                <span class="helper-text" data-error="Date must match format mm/dd/yyyy"></span>
              </div>
              <div class="input-field col s6 ">
                <input class="validate" type="number" step=".01" autocomplete="off" name="amount" required pattern="^[-]?([1-9]{1}[0-9]{0,}(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|\.[0-9]{1,2})$">
                <label for="amount">Amount</label>
                <span class="helper-text" data-error="Please enter a numeric value"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10">
                <input type="text" placeholder="(Optional)" name="note">
                <label for="note">Note</label>
              </div>

              <div class="col s2 no-padding">

                <div class="row">
                  <h6 class="schedule-label">Scheduled?</h6>
                </div>

                <div class="row">
                  <label for="income-schedule">
                    <input id="income-schedule" name="scheduled" type="checkbox" class="filled-in"/>
                    <span class="checkbox-special scheduler"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row schedule-content">
              <div class="col s6 input-field">
                <select name="schedule" class="schedule-select">
                  <option value="daily" selected>Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="biweekly">Biweekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="endofmonth">End of Month</option>
                  <option value="semianually">Semianually</option>
                  <option value="anually">Anually</option>
                </select>
                <label>Frequency</label>
              </div>
              <div class="col s6">
                <p class="schedule-message grey-text"></p>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 standard-submit" type="submit" name="action" href="#!">Submit</button>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light yellow darken-4 submit-and-new" type="submit" name="action" href="#!">Submit & New</button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>