<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Budgeteer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/unconfirmed.css')}}" type = text/css rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="/static/img/icon.png">
</head>

<body>

    <!-- Main Nav -->
    <div class="navbar-fixed">
      <nav class="yellow darken-4">
        <div class="nav-wrapper">
            <a id="logo-container" href="{{url_for('main.home')}}" class="brand-logo center"><img src="{{url_for('static', filename='img/Budgeteer_Text_Shadow.png')}}" id="logo"></a>
        </div>
      </nav>
    </div>

  <!-- Content -->
  <main>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel">
                <h4 class="center-align">Unconfirmed Email</h4>
                <p class="center-align">You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
                <p class="center-align">Didn't receive the email? Click <a href="{{url_for('auth.resend_confirmation')}}">here</a> to resend it.</p>
                <p class="center-align">Or return to the login page <a href="{{url_for('auth.login')}}">here</a>.</p>
            </div>
        </div>
    </div>
  </main>

  <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/jquery-ui/dist/jquery-ui.min.js')}}"></script>
</body>
</html>