.row {
  margin: 0;
  text-align: center;
}
.waves-effect {
  width: 100%
}

footer {
  z-index: 10000;
}

.carousel {
  height: 100px;
  overflow: hidden;
  width: 100%;
}
 
 .carousel-item {
  max-height: 100px;
  max-width: 150px;
  color: #41a9b7 !important
}

.prioritize {
  margin-bottom: 20px;
}